<footer class="main-footer" style="background-color: #1D263E; !important">
  <footer class="container-fluid" >
    <div class="row justify-content-center ">
    <div class="align-items-center text-muted">
        <p class="small text-center">
            Support Contact: +254 745 644 126 (Safaricom) | +254 /770 140 377 (Telkom) | +254 733 991 517 (Airtel)
        </p>
        <p class="small text-center">
            Email: support@isoftsystems.co.ke
        </p>
        <p class="small text-center">
            Integrated Software Systems Limited (Soft Systems)
        </p>
    </div>

    </div>
    <div class="row justify-content-between px-3 text-muted">
    <p class="small">
        Copyright ©iSoft Systems 2023. All Rights Reserved
    </p>
    <p class="small">
        iSoft LIMS Versions 1.1.01 | Powered By iSoft Systems
    </p>

    </div>

    </div>
    

  </footer>
</footer>