{% extends 'student_template/base_template.html' %}

{% block page_title %}
<b>Student Registratiuon to Examination</b>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<div class="content">
    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-between mx-2 my-2">
        <!-- <div>
            <button id="select-all" class="btn btn-primary">Select All</button>
        </div> -->
        <div>
            <button type="button" class="btn btn-primary" id="register-btn1">Register Selected</button>
        </div>
    </div>

    
    

    <div id="register-message">
    </div>
    <table id="register-table" class="table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Exam Type</th>
                <th>Exam Date</th>
                <th>Compulsory</th>
                <th>Class</th>
                <th>Select to Register</th>
            </tr>
        </thead>
        <tbody>
            {% csrf_token %}
            {% for i in classes %}
            <tr>
                <td>{{ i.name}}</td>
                <td>{{ i.exam_type}}</td>
                <td>{{ i.exam_date }}</td>
                <td>{{ i.is_compulsory }}</td>
                <td>{{ i.exam_class }}</td>
                <td>
                {% if i in registered_exams %}
                <button disabled class="btn btn-success">Student Registered</button>
                {% elif i not in registered_exams %}
                <input type="checkbox" name="registered_ids[]" value="{{ i.id }}">
                {% endif %}
                </td>
            </tr>
            
            {% endfor %}

        </tbody>
    </table>
    

</div>




</div>
{% endblock main_content %}

{% block custom_js %}

{% comment %}
With these changes, the "Select All" button will check all checkboxes in the table, and only unchecked checkboxes will
be included in the mass edit action.
{% endcomment %}

<script>
    

    $(function () {
        $('#register-btn1').click(function () {
          console.log('Im clicked')
          var registered_ids = [];
          $('input[name="registered_ids[]"]:checked').each(function() {
            registered_ids.push($(this).val());
          });
          console.log('yeeeo'+registered_ids)
    
            $.ajax({
                type: 'POST',
                url: '{% url "academics:mass_edit_student_exam" %}',
                data: {
                'registered_ids': registered_ids,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(response) {
                    //$('#register-table').html(response.table_html);
                    $('#register-table tbody').html(response.tbody_html);
                    $('#register-message').html('<div class="alert alert-success" role="alert">Registration successful!</div>');
                },
                error: function(xhr, status, error) {
                    $('#register-message').html('<div class="alert alert-danger" role="alert">Registration failed. Please try again.</div>');
                }
            });
        });
      });
</script>

{% endblock custom_js %}
