{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'admin_home' %}" class="brand-link">
    <img src="{% static 'media/images/limslogo.png' %}" alt="" class="brand-image "
      style="opacity: .8">
    <span class="brand-text font-weight-light">iSoft LIMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div>
      <div class="user-panel mt-3">

        <div class="d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="{% url 'admin_profile' %}" class="d-block font-weight-bold">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>
        
        
        <div class="info">
          <a href="{% url 'admin_profile' %}" class="my-2 d-block font-weight-bold">Role: {{ user.get_user_type}}</a>
        </div>

      </div>

    </div>
    
    

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
        

        <li class="nav-item">
          {% url 'school_profile' as institution_setup %}
          {% url 'administration' as administration %}
          {% url 'reports' as reports%}

          {% if request.path == institution_setup or request.path == administration or request.path == reports%}
            <a href="{{institution_setup}}" class="nav-link {% if request.path == institution_setup %} active nav-link-collapsed {% endif %} {% if request.path == administration %}active nav-link-collapsed{% endif %}" href="#submenusetup" data-toggle="collapse" data-target="#submenusetup">
              <i class="nav-icon fas fa fa-users"></i>
              <span class="d-none d-sm-inline">Core</span>
            </a>
            <div class="collapse {% if request.path == institution_setup %}show{% endif %} {% if request.path == administration %}show{% endif %}" id="submenusetup" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                <li class="nav-item">
                  <a href="{{ institution_setup }}" class="nav-link{% if request.path == institution_setup %} bg-secondary{% endif %}{% if request.path == institution_setup %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa-user-graduate"></i>
                    <p>
                      Institution’s Profile
                    </p>
                  </a>
                </li>
          
                <li class="nav-item">
                  <a href="{{ administration }}" class="nav-link{% if request.path == administration %} bg-secondary{% endif %}{% if request.path == administration %} active{% endif %}">
                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                    <p>
                      Administration
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link{% if request.path == manage_guardians %} active{% endif %}{% if request.path == edit_guardians %} active{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Processes
                    </p>
                  </a>
                </li>
          
                <li class="nav-item">
                  <a href="{{ reports }}" class="nav-link{% if request.path == reports %} active{% endif %}{% if request.path == edit_reports %} active{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Report & Analysis
                    </p>
                  </a>
                </li>
          
                <li class="nav-item">
                  <a href="#" class="nav-link{% if request.path == manage_guadians %} active{% endif %}{% if request.path == edit_guardians %} active{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Utilities
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          {% else %}
          <li class="nav-item">
            <a class="nav-link collapsed text-truncate" href="{{institution_setup}}"><i
                class="nav-icon fas fa-tachometer-alt"></i> 
                <span class="d-none d-sm-inline">Core</span>
              </a>
          </li>
          {% endif %}
        </li>

        <li class="nav-item">
          {% url 'academics:academics_home' as academics %}
          {% url 'academics:manage_class' as learning %}
          {% url 'academics:manage_exams' as examinations %}

          {% if request.path == academics or request.path == learning or request.path == examinations %}
          <a href="{{academics}}" class="nav-link {% if request.path == academics%} active nav-link-collapsed {% endif %} {% if request.path == learning%}active nav-link-collapsed{% endif %} {% if request.path == examinations%}active nav-link-collapsed{% endif %}" href="#submenuacademic" data-toggle="collapse" data-target="#submenuacademic">
            <i class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Academics</span></a>

            <div class="collapse {% if request.path == academics%}show{% endif %} {% if request.path == learning%}show{% endif %} {% if request.path == examinations%}show{% endif %} " id="submenuacademic" aria-expanded="false">
              <ul class="flex-column pl-2 nav">
                <li class="nav-item">
                  {% url 'academics:academics_home' as dashboard %}
                  <a href="{{ dashboard }}" class="nav-link{% if request.path == dashboard %} bg-secondary{% endif %}{% if request.path == dashboard %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa-user-graduate"></i>
                    <p>
                      Dashboard
                    </p>
                  </a>
                </li>
          
                <li class="nav-item">
                  <a href="{{learning}}" class="nav-link{% if request.path == learning %} bg-secondary{% endif %}{% if request.path == learning %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                    <p>
                      Learning
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="{{examinations}}" class="nav-link{% if request.path == examinations %} bg-secondary{% endif %}{% if request.path == examinations %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Examination
                    </p>
                  </a>
                </li>
          
                <li class="nav-item">
                  <a href="#" class="nav-link{% if request.path == manage_guardians %} bg-secondary{% endif %}{% if request.path == edit_guardians %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Attendance
                    </p>
                  </a>
                </li>
          
                <li class="nav-item">
                  <a href="#" class="nav-link{% if request.path == manage_guardians %} bg-secondary{% endif %}{% if request.path == edit_guardians %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Industrial Attachment & Internship
                    </p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link{% if request.path == manage_guardians %} bg-secondary{% endif %}{% if request.path == edit_guardians %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Graduation
                    </p>
                  </a>
                </li>

                <li class="nav-item">
                  <a href="#" class="nav-link{% if request.path == manage_guardians %} bg-secondary{% endif %}{% if request.path == edit_guardians %} bg-secondary{% endif %}">
                    <i class="nav-icon fas fa fa fa-users"></i>
                    <p>
                      Utilities
                    </p>
                  </a>
                </li>
              </ul>
            </div>
            
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="{{academics}}"><i
              class="nav-icon fas fa-tachometer-alt"></i> 
              <span class="d-none d-sm-inline">Academics</span>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
          {% url 'finance:finance_home' as finance %}
          <a href="{{finance}}" class="nav-link  {% if request.path == finance %} active nav-link-collapsed {% endif %}" href="#submenufinance" data-toggle="collapse" data-target="#submenufinance">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
              Finance
            </p>
          </a>

          <div class="collapse {% if request.path == finance %}show{% endif %}" id="submenufinance" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
              <li class="nav-item">
                {% url 'finance:finance_home' as finance_dashboard %}
                <a href="{{ finance_dashboard }}" class="nav-link{% if request.path == finance_dashboard %} bg-secondary{% endif %}{% if request.path == finance_dashboard %} bg-secondary{% endif %}">
                  <i class="nav-icon fas fa-user-graduate"></i>
                  <p>
                    Dashboard
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="" class="nav-link{% if request.path == '' %} bg-secondary{% endif %}{% if request.path == '' %} bg-secondary{% endif %}">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Budget
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link{% if request.path == '' %} bg-secondary{% endif %}{% if request.path == '' %} bg-secondary{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Fee Management
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == '' %} bg-secondary{% endif %}{% if request.path == '' %} bg-secondary{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Accounts
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == '' %} bg-secondary{% endif %}{% if request.path == '' %} bg-secondary{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Mobile Money & Bank Integration
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a href="" class="nav-link {% if request.path == '' %} active {% endif %}">
            <i class="nav-icon fa fa-graduation-cap"></i>
            <p>
              Procurement & Inventory
              
            </p>
            
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu3"><i
              class="nav-icon fas fa-tachometer-alt"></i> 
              <span class="d-none d-sm-inline">Asset Management</span>
              
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenuusers">
            <i class="nav-icon fas fa fa-users"></i>
            <span class="d-none d-sm-inline">Services Management</span>
            
          </a>
          <div class="collapse" id="submenuusers" aria-expanded="false">
            <ul class="flex-column pl-2 nav">
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == manage_hod %} active{% endif %}{% if request.path == edit_hod %} active{% endif %}">
                  <i class="nav-icon fas fa-user-graduate"></i>
                  <p>
                    Library
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == manage_staff %} active{% endif %}{% if request.path == edit_staff %} active{% endif %}">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Accommodation
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == manage_guardians %} active{% endif %}{% if request.path == edit_guardians %} active{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Catering
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == manage_guadians %} active{% endif %}{% if request.path == edit_guardians %} active{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Transport
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == manage_guadians %} active{% endif %}{% if request.path == edit_guardians %} active{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Internet
                  </p>
                </a>
              </li>
        
              <li class="nav-item">
                <a href="#" class="nav-link{% if request.path == manage_guadians %} active{% endif %}{% if request.path == edit_guardians %} active{% endif %}">
                  <i class="nav-icon fas fa fa fa-users"></i>
                  <p>
                    Medical
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu3"><i
              class="nav-icon fas fa-tachometer-alt"></i> 
              <span class="d-none d-sm-inline">EC Activities</span>
              
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu6"><i
              class="nav-icon fas fa-tachometer-alt"></i> 
              <span class="d-none d-sm-inline">Project Management </span>
              
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu7"><i
              class="nav-icon fas fa-envelope"></i> 
              <span class="d-none d-sm-inline">Communication</span>
              
            </a>
        </li>
      </ul>
      
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  
  <!-- /.sidebar -->
</aside>

{% block custom_js %}
<!-- Create a Django template variable to store the JavaScript data -->

<script>
  $(document).ready(function() {
    // Check if dark mode preference is set in local storage
    const prefersDarkMode = localStorage.getItem('darkMode');

    // Apply the dark mode class to body if the preference is set
    if (prefersDarkMode === 'true') {
      $('body').addClass('dark-mode');
    }

    // Toggle dark mode when the button is clicked
    $('#darkModeButton').on('click', function() {
      // Toggle the dark mode class on body
      $('body').toggleClass('dark-mode');

      // Update the preference in local storage
      const isDarkMode = $('body').hasClass('dark-mode');
      localStorage.setItem('darkMode', isDarkMode.toString());
    });
  });
</script>

{% endblock custom_js %}