{% extends 'base_template.html' %}

{% block page_title %}
Add Grade Year
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Grade Year</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" method="POST" action="{% url 'academics:add_grade_save' %}">
            {% csrf_token %}


            {% comment %} Display Messages {% endcomment %}
            {% if messages %}
            <div class="form-group">
              <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}


            <div class="card-body">
              <div class="form-group">
                <label class="control-label col-sm-3">Grade Name:</label>
                <div class="col-sm-9">
                  {{ form.grade_name }}
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-3">Compulsory Cluster Class:</label>
                <div class="col-sm-9">
                  {{ form.compulsory_classes }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
          </form>

        </div>
        </form>
      </div>

    </div>
  </div>

  </div>
</section>

{% endblock main_content %}

{% block custom_js %}
{% comment %} Checking if class name already exists or not using Ajax {% endcomment %}

<script>
  $(document).ready(function () {
    // keyup event will be triggered when user leaves keyboard
    $("#class_name").keyup(function () {
      var class_name = $(this).val();

      if (class_name != "") {
        $.ajax({
          url: '{% url 'academics:check_class_exist' %}',
          type: 'POST',
          data: { class_name: class_name }
        })
          .done(function (response) {
            //console.log(response);

            if (response == "True") {
              $(".class_name_error").remove();
              $("<span class='email_error' style='color: red; padding: 5px; font-weight: bold;'> Email Not Available. </span>").insertAfter("#id_class_name")
            }
            else {
              $(".class_name_error").remove();
              $("<span class='email_error' style='color: green; padding: 5px; font-weight: bold;'> Email Available. </span>").insertAfter("#id_class_name")
            }
          })

          .fail(function () {
            console.log("Failed");
          })
      }
      else {
        $(".email_error").remove();
      }

    })
  })
</script>

{% endblock custom_js %}