{% extends 'base_template.html' %}

{% block page_title %}
Add Cluster Class
{% endblock page_title %}

{% block main_content %}

{% load static %}
<section class="content">
  <div class="ml-2">
    {% include 'core_navigation_navbar.html' %}
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edit Session Year</h3>
          </div>
          <div class="mx-3 py-3">
            <form method="post">
              {% csrf_token %}

              {% comment %} Display Messages {% endcomment %}
              {% if messages %}
              <div class="form-group">
                <div class="col-12">
                  {% for message in messages %}
                  {% if message.tags == "error" %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% elif message.tags == "success" %}
                  <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <div>
                {{ form.cluster_class_name.label_tag }}
                {{ form.cluster_class_name }}
              </div>
              <div>
                {{ form.classes.label_tag }}
                {{ form.classes }}
              </div>
              <button type="submit" class="btn btn-primary">Update Clusterclass Year</button>
            </form>
          </div>

        </div>
      </div>
    </div>
</section>
{% endblock %}