{% extends 'base_template.html' %}

{% block page_title %}
<b>Edit Unit</b>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="ml-2">
        {% include 'core_navigation_navbar.html' %}
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Unit</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST">
                        {% csrf_token %}
                        {% comment %} Display Messages {% endcomment %}
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <div class="card-body">
                            <div class="form-group">
                                <label for="class_name">Unit Name</label>
                                <input type="hidden" name="department_id" value="{{ department.id }}" />
                                <input type="text" class="form-control" id="class_name" name="class_name"
                                    placeholder="{{ current_item.class_name }}" value="{{ form.class_name.value }}">
                            </div>

                            <div class="form-group">
                                <label for="class_code">Unit Code</label>
                                <input type="text" class="form-control" id="class_code" name="class_code"
                                    placeholder="{{ current_item.class_code }}" value="{{ form.class_code.value }}">
                            </div>

                            <div class="form-group">
                                <div class="font-weight-bold" >Instructor</div>
                                {{ form.teacher }}
                            </div>

                            <div class="form-group">
                                <div class="font-weight-bold" id="grade_id" name="grade_id" value="{{ form.grade.value }}">Grade</div>
                                {{ form.grade }}
                            </div>

                            <div class="form-group">
                                <div class="font-weight-bold" id="session_id" name="session_id" value="{{ form.session_id.value }}">Session</div>
                                {{ form.session_id }}
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="is_elective" name="is_elective" {%if form.is_elective.value %}checked{% endif %}>
                                <label class="form-check-label" for="is_elective">Is Elective</label>
                            </div>

                            <div class="form-group">
                                <label for="start_date">Start Date {{ current_item.start_date }}</label>
                                <input type="date" class="form-control" id="start_date" name="start_date"
                                    placeholder="{{ current_item.start_date }}" value="{{ form.start_date.value }}">
                            </div>

                            <div class="form-group">
                                <label for="end_date">End Date</label>
                                <input type="date" class="form-control" id="end_date" name="end_date"
                                    placeholder="{{ current_item.end_date }}" value="{{ form.end_date.value }}">
                            </div>

                            <div class="form-group">
                                <label for="cost">Cost</label>
                                <input type="number" class="form-control" id="cost" name="cost"
                                    placeholder="{{ current_item.cost }}" value="{{ form.cost.value }}">
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update Unit</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}
{% comment %} ??? {% endcomment %}
<script>
    $(document).ready(function () {
        $('.select2-widget').select2({
            placeholder: "{{ current_item.teacher }}",
            allowClear: true
        });
    });
</script>
{% endblock %}