{% extends 'base_template.html' %}

{% block page_title %}
Edit Grade | #ID : {{ grade.name }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Grade</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST">
                        {% csrf_token %}
                        {% comment %} Display Messages {% endcomment %}
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <div class="card-body">
                            <div class="form-group">
                                <label for="grade_name">Grade Name</label>
                                <input type="text" class="form-control" id="grade_name" name="grade_name" value="{{ form.grade_name.value }}">
                            </div>
                        
                            <div class="form-group">
                                <label for="cost">Cost</label>
                                <input type="number" class="form-control" id="cost" name="cost" value="{{ form.cost.value }}">
                            </div>
                        
                            <div class="form-group">
                                <label for="compulsory_classes">Compulsory Classes</label>
                                <input type="text" class="form-control" id="compulsory_classes" name="compulsory_classes" value="{{ form.compulsory_classes.value }}">
                            </div>
                            
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update Class</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}
{% comment %} ??? {% endcomment %}
<script>
    $(document).ready(function () {
        $('.select2-widget').select2({
            placeholder: "{{ current_item.teacher }}",
            allowClear: true
        });
    });
</script>
{% endblock %}