{% extends 'base_template.html' %}

{% block page_title %}
Course Requirements Management
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
  <div class="ml-2">
    {% include 'core_navigation_navbar.html' %}
</div>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Manage Course Requirements</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          {% csrf_token %}


          {% comment %} Display Messages {% endcomment %}
          {% if messages %}
          <div class="form-group">
            <div class="col-12">
              {% for message in messages %}
              {% if message.tags == "error" %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% elif message.tags == "success" %}
              <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}


          <div class="card-body">

            <div class="card-body table-responsive p-0">
              <div class="">
                <div class="btn btn-primary text-white"><a class="text-white"
                    href="{% url 'academics:clusterclass_create' %}">Create Compulsory Course Lectures</a></div>
              </div>
              <table class="table table-hover text-nowrap">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Class Name</th>
                          <th>Course</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for i in clusters %}

                      <tr>
                          <td>{{ i.id }}</td>
                          <td>{{ i.cluster_class_name }}</td>
                          {% for j in courses %}
                          {% if j.id == i.id %}
                          <td>{{ j }}</td>
                          {% endif %}
                          {% endfor %}
                          <td>
                            <a class="btn btn-warning text-bold" href="{% url 'academics:clusterclass_edit' i.id %}">Edit this Course Classes</a>
                            <a class="btn btn-danger text-bold" href="{% url 'academics:clusterclass_edit' i.id %}">Delete this Course Classes</a>
                          </td>
                      </tr>
                      {% empty %}
              <li class="text-bold">No Course Lectures yet.</li>
              {% endfor %}
  
                  </tbody>
              </table>
              </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>



{% endblock %}