{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'media/images/limslogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">iSoft</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
          </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->

            <li class="nav-item">
              {% url 'school_profile' as institution_setup %}
              <a href="{{ institution_setup }}" class="nav-link {% if request.path == institution_setup %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Setup
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'admin_home' as admin_home %}
              <a href="{{admin_home}}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Admissions&Registration</span></a>
              {% comment %}
              <div class="collapse" id="submenu" aria-expanded="false">
                <ul class="flex-column pl-2 nav">

                  <li class="nav-item">
                    {% url 'student_affairs' as student_affairs %}
                    {% url 'student_affairs' student_affairs_id=id as edit_student_affairs %}
                    <a href="{{ student_affairs }}"
                      class="nav-link {% if request.path == student_affairs  %} active {% endif %} {% if request.path == edit_student_affairs %} active {% endif %}">
                      <i class="nav-icon fas fa fa-building"></i>
                      <p>
                        Manage Student Affairs
                      </p>
                    </a>
                  </li>


                  <li class="nav-item">
                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse"
                      data-target="#submenuusers"><i class="nav-icon fas fa fa-users"></i> <span
                        class="d-none d-sm-inline">Manage Users</span></a>

                    <div class="collapse" id="submenuusers" aria-expanded="false">
                      <ul class="flex-column pl-2 nav">

                        <li class="nav-item">
                          {% url 'manage_hod' as manage_hod %}
                          {% url 'edit_hod' hod_id=id as edit_hod %}
                          <a href="{{ manage_hod }}"
                            class="nav-link {% if request.path == manage_hod %} active {% endif %} {% if request.path == edit_hod %} active {% endif %}">
                            <i class="nav-icon fas fa-user-graduate"></i>
                            <p>
                              Manage H.O.D
                            </p>
                          </a>
                        </li>

                        <li class="nav-item">
                          {% url 'manage_staff' as manage_staff %}
                          {% url 'edit_staff' staff_id=id as edit_staff %}
                          <a href="{{ manage_staff }}"
                            class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>
                              Manage Staff
                            </p>
                          </a>
                        </li>

                        <li class="nav-item">
                          {% url 'manage_guardians' as manage_guardians %}
                          {% url 'edit_guardian' guardian_id=id as edit_guardian %}
                          <a href="{{ manage_guardians }}"
                            class="nav-link {% if request.path == manage_guadians %} active {% endif %} {% if request.path == edit_guardians %} active {% endif %}">
                            <i class="nav-icon fas fa fa fa-users"></i>
                            <p>
                              Manage Guardian
                            </p>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
              {% endcomment %}
            </li>

            <li class="nav-item">
              {% url 'academics:academics_home' as academics_home %}
              <a href="{{ academics_home }}" class="nav-link {% if request.path == academics_home %} active {% endif %}">
                <i class="nav-icon fa fa-graduation-cap"></i>
                <p>
                  Academics
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'finance:finance_home' as finance_home %}
              <a href="{{ finance_home }}" class="nav-link {% if request.path == finance_home %} active {% endif %}">
                <i class="nav-icon fas fa-hand-holding-usd"></i>
                <p>
                  Finance Module
                </p>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu3"><i
                  class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Procurement&Inventory</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu5"><i
                  class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Library</span></a>
            </li>


            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu6"><i
                  class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Accommodation&Catering</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu7"><i
                  class="nav-icon fas fa-car"></i> <span class="d-none d-sm-inline">Fleet</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu8"><i
                  class="nav-icon fas fa-hospital"></i> <span class="d-none d-sm-inline">Medical</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu8"><i
                  class="nav-icon fas fa-bars"></i> <span class="d-none d-sm-inline">Extra Curriculum Activities</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu8"><i
                  class="nav-icon fas fa-file"></i> <span class="d-none d-sm-inline">Project</span></a>
            </li>
          </ul>
        </nav>

        {% comment %}
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

            <li class="nav-item">
              {% url 'admin_home' as admin_home %}
              <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Core Module
                </p>
              </a>
            </li>

            {% url 'academics:academics_home' as academics_home %}
            <li class="nav-item">
              <a class="nav-link collapsed text-truncate {% if request.path == academics_home %} active {% endif %}" href="#submenu1" data-toggle="collapse" data-target="#submenuc"><i
                  class="nav-icon fa fa-graduation-cap"></i> <span class="d-none d-sm-inline">Academics Module</span></a>
    
              <div class="collapse" id="submenuc" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
    
                  <li class="nav-item">
                    {% url 'academics:manage_grade' as manage_grade %}
                    {% url 'edit_grade' grade_id=id as edit_grade %}
                    <a href="{{ manage_grade }}"
                      class="nav-link {% if request.path == manage_grade %} active {% endif %} {% if request.path == edit_grade %} active {% endif %}">
                      <i class="nav-icon fas fa-chalkboard"></i>
                      <p>
                        Manage Grade Level
                      </p>
                    </a>
                  </li>
    
                  <li class="nav-item">
                    {% url 'academics:manage_class' as manage_class %}
                    {% url 'edit_class' class_id=id as edit_class %}
                    <a href="{{ manage_class }}"
                      class="nav-link {% if request.path == manage_class %} active {% endif %} {% if request.path == edit_class %} active {% endif %}">
                      <i class="nav-icon fas fa-chalkboard"></i>
                      <p>
                        Manage Class
                      </p>
                    </a>
                  </li>
    
                  <li class="nav-item">
                    {% url 'academics:manage_session_registation' as manage_session_registation %}
                    {% url 'edit_session_registation' session_id=id as edit_session_registation %}
                    <a href="{{ manage_session_registation }}"
                      class="nav-link {% if request.path == manage_session_registation %} active {% endif %} {% if request.path == edit_session_registation %} active {% endif %}">
                      <i class="nav-icon fas fa-archway"></i>
                      <p>
                        Manage Sessions
                      </p>
                    </a>
                  </li>
    
                  <li class="nav-item">
                    {% url 'academics:manage_exams' as manage_exams %}
                    {% url 'edit_manage_exams' session_id=id as edit_manage_exams %}
                    <a href="{{ manage_exams }}"
                      class="nav-link {% if request.path == manage_exams %} active {% endif %} {% if request.path == manage_exams %} active {% endif %}">
                      <i class="nav-icon fa fa-th"></i>
                      <p>
                        Manage Exams
                      </p>
                    </a>
                  </li>
                </ul>
            </li>

            <li class="nav-item">
              {% url 'finance:finance_home' as finance_home %}
              <a href="{{ finance_home }}" class="nav-link {% if request.path == finance_home %} active {% endif %}">
                <i class="nav-icon fas fa-hand-holding-usd"></i>
                <p>
                  Finance Module
                </p>
              </a>
            </li>



          </ul>
        </nav>
        <!-- /.sidebar-menu -->
        {% endcomment %}
      </div>
      <!-- /.sidebar -->
    </aside>