
<div>
    <div class="d-flex">
        <div class="">
            <a class="btn btn-warning" href="{% url 'academics:manage_session' %}" role="button">
                Manage Sessions</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'administration' %}" role="button">
                Manage Campuses</a><br />&nbsp;
        </div>
    
        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'schools' %}" role="button">
                Manage Schools</a><br />&nbsp;
        </div>
    
        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'manage_departments' %}" role="button">
                Manage Departments</a><br />&nbsp;
        </div>
    
        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'manage_courses' %}" role="button">
                Manage Courses</a><br />&nbsp;
        </div>
    
        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'academics:manage_class' %}" role="button">
                Manage Unit</a><br />&nbsp;
        </div>
    
        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'academics:clusterclass_list' %}" role="button">
                Manage Unit Clusters</a><br />&nbsp;
        </div>
    
        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'academics:manage_grade' %}" role="button">
                Grade Year</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-warning" href="{% url 'academics:manage_class_progression' %}" role="button">
                Class Progression</a><br />&nbsp;
        </div>
        
    </div>

    <div class="d-flex">
        <div class="">
            <a class="btn btn-secondary" href="{% url 'manage_houses' %}" role="button">
                Manage Houses</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'manage_services' %}" role="button">
                Manage Services</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'manage_activities' %}" role="button">
                EC Activities</a><br />&nbsp;
        </div>


        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'manage_jobs' %}" role="button">
                Jobs & Positions</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'manage_responsibilities' %}" role="button">
                Students & Board of Management Responsibilities</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'manage_disciplinary_issues' %}" role="button">
                Disciplinary Management</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'finance:manage_payment_methods' %}" role="button">
                Payment Methods</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'finance:manage_billing_items' %}" role="button">
                Fee Items</a><br />&nbsp;
        </div>

        <div class="ml-2">
            <a class="btn btn-secondary" href="{% url 'finance:manage_billing_templates' %}" role="button">
                Billing Templates</a><br />&nbsp;
        </div>

      
        <!-- Religions
        Currency  -->

    </div>

    <div class="d-flex">
        <div class="">
            <a class="btn btn-primary" href="{% url 'manage_interfaculty_transfer' %}" role="button">
                Manage Interfaculty Transfer</a><br />&nbsp;
        </div>


    </div>

</div>
