
<div class="d-flex">
    <div class="">
        <a class="btn btn-warning" href="{% url 'administration' %}" role="button">
            Manage Campuses</a><br />&nbsp;
    </div>

    <div class="ml-2">
        <a class="btn btn-warning" href="{% url 'schools' %}" role="button">
            Manage Schools</a><br />&nbsp;
    </div>

    <div class="ml-2">
        <a class="btn btn-warning" href="{% url 'manage_departments' %}" role="button">
            Manage Departments</a><br />&nbsp;
    </div>

    <div class="ml-2">
        <a class="btn btn-warning" href="{% url 'manage_courses' %}" role="button">
            Manage Courses</a><br />&nbsp;
    </div>

    <div class="ml-2">
        <a class="btn btn-warning" href="{% url 'academics:manage_class' %}" role="button">
            Manage Unit</a><br />&nbsp;
    </div>

    <div class="ml-2">
        <a class="btn btn-warning" href="{% url 'academics:clusterclass_list' %}" role="button">
            Manage Unit Clusters</a><br />&nbsp;
    </div>

    <div class="ml-2">
        <a class="btn btn-warning" href="{% url 'academics:manage_grade' %}" role="button">
            Grade Year</a><br />&nbsp;
    </div>
    
    
</div>