{% extends 'base.html' %}
 
{% block content %}
{% load static %}

<body class="hold-transition login-page">

      <div class="login-box">
        
        <!-- /.login-logo -->
        <div class="card rounded-lg">
          <div class="login-logo row d-flex justify-content-center pt-5">
            <img src="{% static 'media/images/gluk-logo.jpeg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
  
        <p class="font-weight-bolder mt-3">GREAT LAKES UNIVERSITY</p>
            
          </div>

          <div class="card-body rounded-lg login-card-body pb-5">
            {% comment %} Display Messages {% endcomment %}
                {% if messages %}
                <div class="col-12">
                  {% for message in messages %}
                    {% if message.tags == "error" %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
            <p class="login-box-msg">Sign in</p>

            <form action="{% url 'doLogin' %}" method="POST">
            {% csrf_token %}
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <input type="password" class="form-control" id="password" name="password">
                <div class="input-group-append">
                  <span class="input-group-text password-toggle" onclick="togglePasswordVisibility()">
                    <i class="fas fa-eye"></i>
                  </span>
                </div>
              </div>

                <div class="">
                  <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </div>

                <div class="row d-flex mt-3 ">
                  <div class="col-md-6">
                    <a href="{% url 'password_reset' %}">Forgot Password</a>
                  </div> 
                  <div class="col-md-6 text-right">
                    <a href="">Activate Account</a>
                  </div> 


                </div>

                
                

                <!-- /.col -->
              </div>
            </form>

        </div>
      </div>
      <!-- /.login-box -->
</body>

<footer>
  <div class="container d-flex flex-column justify-content-end align-items-center">
    <h5 class="text-bolder">
      POWERED BY iSoft Systems
    </h5>
  </div>
</footer>

{% endblock content %}

{% block custom_js %}

<script>
  function togglePasswordVisibility() {
    console.log('angelo')
    var passwordInput = document.getElementById('password');
    var icon = document.querySelector('.password-toggle i');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      icon.classList.remove('fa-eye');
      icon.classList.add('fa-eye-slash');
    } else {
      passwordInput.type = 'password';
      icon.classList.remove('fa-eye-slash');
      icon.classList.add('fa-eye');
    }
  }

  //$(document).ready(function() {
  //  console.log('angelo')
  //  $('password-toggle').click(function() {
//
  //    var passwordInput = $(this).siblings('input[type="password"]');
  //    var icon = $(this).children('i');
//
  //    console.log('helloo ('+ passwordInput + icon+')')
//
  //    if (passwordInput.attr('type') === 'password') {
  //      console.log('I am a password type helloo')
  //      passwordInput.attr('type', 'text');
  //      icon.removeClass('fa-eye').addClass('fa-eye-slash');
  //    } else {
  //      passwordInput.attr('type', 'password');
  //      icon.removeClass('fa-eye-slash').addClass('fa-eye');
  //    }
  //  });


    
  //});
</script>

{% endblock custom_js %}