{% extends 'base.html' %}
{% load static %} 

{% block content %}

<body class="hold-transition login-page">

      <div class="login-box">
        <div class="login-logo row d-flex justify-content-md-center">
          <img src="{% static 'media/images/gluk-logo.jpeg' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">

      <a href="{% url 'login' %}"><b> The GREAT LAKES UNIVERSITY </b> SYSTEM </a>
          
        </div>
        <!-- /.login-logo -->
        <div class="card rounded-lg">
          <div class="card-body rounded-lg login-card-body">
            <p class="login-box-msg">Sign in to iSOFT</p>

            <form action="{% url 'doLogin' %}" method="POST">
            {% csrf_token %}
              <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="email">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>

                <div class="">
                  <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </div>

                <div class="row d-flex mt-3 ">
                  <div class="col-md-6">
                    <a href="">Forgot Password</a>
                  </div> 
                  <div class="col-md-6 text-right">
                    <a href="">Activate Account</a>
                  </div> 


                </div>

                
                {% comment %} Display Messages {% endcomment %}
                {% if messages %}
                <div class="col-12">
                  {% for message in messages %}
                    {% if message.tags == "error" %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}

                <!-- /.col -->
              </div>
            </form>

        </div>
      </div>
      <!-- /.login-box -->
</body>

<footer>
  <div class="container d-flex flex-column justify-content-end align-items-center">
    <h5 class="text-bolder">
      POWERED BY ISOFT
    </h5>
  </div>
</footer>

{% endblock %}