{% extends 'user_base_template.html' %} 
{% block page_title %} 
<b>User Home</b> 
{% endblock page_title %} 
{% block main_content %}
{% load static %}

<section class="content mx-2">

        <h3 class="text-bold">Hello-{{ user.first_name }} {{ user.last_name }} !</h3>

        <div class="row d-flex">
            <div class="col-md-12">
                <div class="row d-flex">
        
                  <div class="col-md-6">
                    <div class="card bg-dark text-white widget-visitor-card vh-25">
                      <div class="text-center"><!----></div>
                      <div class="card-block-small text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="{% url 'school_profile'%}"
                          role="tab"
                          aria-selected="true"
                          >
                          Admin Dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold">Current Session: {{current_session.session_start_date }} to {{current_session.session_end_date }}</div>
                        <div class="font-weight-bold">Students In Session: {{student_count}}</div>
                        <div class="font-weight-bold">Teachers in Employment: {{teacher_count}}</div>
                        <div class="font-weight-bold">Staff In Employment: {{staff_count}}</div>

                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card bg-gradient-success text-white widget-visitor-card">
                      <div class="text-center"><!----></div>
                      <div class="card-block-small text-center">
                        <a
                          class="nav-link active h4 text-light font-weight-bold"
                          href="{% url 'admin_home'%}"
                          role="tab"
                          aria-selected="true"
                          >
                          Academics Dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-light">Pending Applicants: {{applicants_count}} </div>
                        <div class="font-weight-bold text-light">Course Count: {{course_count}}</div>
                        <div class="font-weight-bold text-light">Departments: {{departments}}</div>
                        <div class="font-weight-bold text-light">Pending Issues/Notifications: {{sessions_number}}</div>
                      </div>
                    </div>
                  </div>

        
                  <div class="col-md-6">
                    <div class="card bg-gradient-primary text-white widget-visitor-card">
                      <div class="text-center"><!----></div>
                      <div class="card-block-small text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="{% url 'finance:finance_home'%}"
                          role="tab"
                          aria-selected="true"
                          >
                          Finance Dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-light">Pending Transactions: {{transactions_count}}</div>
                      </div>
                    </div>
                  </div>
        
                  
        
                  <div class="col-md-6">
                    <div class="card bg-gradient-info text-white widget-visitor-card">
                      <div class="text-center"><!----></div>
                      <div class="card-block text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="{% url 'academics:academics_home'%}"
                          role="tab"
                          aria-selected=""
                          >
                          Learning dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-light">Session Enrollment Count: {{session_enrollment_count}}</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card bg-warning text-white widget-visitor-card">
                      <div class="text-center"><!----></div>
                      <div class="card-block text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="{% url 'academics:manage_exams'%}"
                          role="tab"
                          aria-selected=""
                          >
                          Examinations dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-dark">Examinations: {{exam_count}}</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card bg-gradient-secondary text-white widget-visitor-card">
                      <div class="text-center"><!----></div>
                      <div class="card-block-small text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="{% url 'student_home'%}"
                          role="tab"
                          aria-selected="true"
                          >
                          Student Dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-light">Pending Issues/Notifications: {{sessions_number}}</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card bg-gradient-success text-white widget-visitor-card">
                      <div class="text-center text dark"><!----></div>
                      <div class="card-block-small text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="#"
                          role="tab"
                          aria-selected="true"
                          >
                          Teacher Dashboard
                          <hr class="light-dark">
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-light">Pending Issues/Notifications: {{sessions_number}}</div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-6">
                    <div class="card bg-gradient-dark text-white text-white widget-visitor-card">
                      <div class="text-center"><!----></div>
                      <div class="card-block text-center">
                        <a
                          class="nav-link active h4 font-weight-bold"
                          href="{% url 'academics:manage_session_registation'%}"
                          role="tab"
                          aria-selected=""
                          >
                          Parent dashboard
                          <hr>
                        </a>
                      </div>
                      <div class="ml-3 mb-3">
                        <div class="font-weight-bold text-light">Pending Issues/Notifications: {{sessions_number}}</div>
                      </div>
                    </div>
                  </div>

                    
        
                 <div class="col-md-12">
                <div class="card table-card latest-activity-card">
                  <div class="card-header border-0">
                    <h5 class="text-bold">General Correspondence</h5>
                  </div>
          
                </div>
              </div>
            </div>
           
          
        </div>
</section>

{% endblock main_content %}