{% extends 'student_template/base_template.html' %}

{% block page_title %}
Enroll to Classes
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">



        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="">
                    <!-- /.card-header -->
                    <div class="card px-3 pt-3">
                        <div class="container-fluid">
                            <div class="row">

                                <!-- Search and Register Form -->
                                <div class="col-md-6">
                                    <h2>Search and Register for Classes</h2>
                                    <form>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="class-search">Class Search:</label>
                                            <input type="text" list="classes" placeholder="Classes" class="form-control" id="class-search">
                                            <datalist id="classes">
                                                {% for i in classes %}
                                                    <option value="{{ i.id }}">{{ i.class_name }}</option>
                                                {% endfor%}
                                            </datalist>
                                        </div>
                                        <button type="submit" id="register-for-class-btn" class="btn btn-primary">Register</button>
                                    </form>

                                </div>

                                <!-- Registered Classes Table -->
                                <div class="col-md-6">
                                    <h2>Registered Compulsory Classes</h2>
                                    <table id="register-class-table" class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Class Name</th>
                                                <th>Start Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <div id="register-message"></div>
                                            {% for i in compulsory_classes%}
                                            <tr>
                                                <td>{{i.class_name}}</td>
                                                <td>{{i.start_date}}</td>
                                                <td>
                                                    {% if i.is_elective == True%}
                                                    <button disabled class="btn btn-success">Elective Class</button>
                                                    {% elif i.is_elective == False %}
                                                    <button disabled class="btn btn-primary">Compulsory Class</button>
                                                    {% endif %}
                                                    </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}


{% block custom_js %}

{% comment %}
With these changes, the "Select All" button will check all checkboxes in the table, and only unchecked checkboxes will
be included in the mass edit action.
{% endcomment %}

<script>
    $(function () {
        $('#register-for-class-btn').click(function () {
          event.preventDefault();
    
            // Retrieve the selected class ID from the input field
          const selectedClassId = document.getElementById('class-search').value;
    
          $.ajax({
            type: 'POST',
            url: '{% url "enroll_class_save" %}',
            data: {
              'class_id': selectedClassId,
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response) {
                //$('#register-table').html(response.table_html);
                $('#class-search').val('');
                $('#register-class-table tbody').html(response.tbody_html);
                $('#register-message').html('<div class="alert alert-success" role="alert">Registration successful!</div>');
            },
            error: function(xhr, status, error) {
                $('#register-message').html('<div class="alert alert-danger" role="alert">Registration failed. Please try again ' +error+ '.</div>');
            }
          });
        });
      });
</script>

{% endblock custom_js %}