{% extends "house_templates/manage_houses_template.html" %}

{% block house %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Manage Houses</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <div class="card-body">
        <table class="table table-hover text-wrap">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Gender</th>
                    <th>Campus</th>
                    <th>Current Capacity</th>
                    <th>Maximum Capacity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for house in houses %}
            <tr>
                <td>{{ house.code|truncatechars:10 }}</td>
                <td>{{ house.description }}</td>
                <td>{{ house.gender }}</td>
                <td>{{ house.campus }}</td>
                <td>{{ house.current_capacity }}</td>
                <td>{{ house.maximum_capacity }}</td>

                <td class="d-flex">
                    <div>
                        <a href="{% url 'edit_house' house.id %}" class="btn btn-success">Edit</a>
                    </div>
                    <div class="ml-1">
                        <a href="{% url 'delete_house' house.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock house %}