{% extends 'admin_template/base_template.html' %} 
{% block page_title %} 
<b>Manage Houses</b> 
{% endblock page_title %} 
{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        
        <div class="mx-auto row">

            {% include 'core_navigation_navbar.html' %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto row ">
                    <div class="mr-2">
                        <a class="btn btn-primary" href="{% url 'add_house' %}" role="button"> Create a House</a><br/>&nbsp;
                    </div>

                    <div class="mr-2">
                        <a class="btn btn-primary" href="{% url 'manage_booking' %}" role="button"> Manage Booking</a><br/>&nbsp;
                    </div>
                </div>
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-body">

                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "warning" %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% block house %}

                        {% endblock house %}

                        

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock main_content %}