{% extends 'base_template.html' %}

{% block page_title %}
Manage Session
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <a class="btn btn-primary" href="{% url 'academics:add_session' %}" role="button">+ Add Session</a> <br />&nbsp;

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Session Details</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap sortable">
                            <thead>
                                <tr>
                                    <th>Records listing</th>
                                    <th><a href="?sort=id" class="text-dark">ID </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=session_start_date" class="text-dark">Session Start Date </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=session_end_date" class="text-dark">Session End Date </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=is_current" class="text-dark">Is Current Session </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for session_year in session_years %}
                                <tr {% if not session_year.is_current %} class="text-muted" {% else %} class="text-bold"
                                    {% endif %}>
                                    {% if not session_year.is_current %} 
                                    <td>In-Active</td> 
                                    {% else %} 
                                    <td>Active</td>
                                    {% endif %}
                                    <td>{{ session_year.id }}</td>
                                    <td>{{ session_year.session_start_date }}</td>
                                    <td>{{ session_year.session_end_date }}</td>
                                    <td>{{ session_year.is_current }}</td>
                                    <td>
                                        {% if session_year.is_current %}
                                        <a href="{% url 'academics:edit_session' session_year.id %}"
                                            class="btn btn-success">Edit</a>
                                        
                                        <button type="button" class="ml-0 my-2 btn btn-danger" data-toggle="modal" data-target="#deleteModal{{session_year.id}}">
                                            Delete Session
                                        </button>
                                        {% else %}
                                        <a href="{% url 'academics:edit_session' session_year.id %}"
                                            class="btn btn-success ">Edit</a>
                                        <button type="button" class="ml-0 my-2 btn btn-danger" data-toggle="modal" data-target="#deleteModal{{session_year.id}}">
                                            Delete Session
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                <div class="modal fade" id="deleteModal{{session_year.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{session_year.id}}"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to <b>DELETE</b> the session year?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                                <a href="{% url 'academics:delete_session' session_year.id %}"
                                                        class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}
<!-- Create a Django template variable to store the JavaScript data -->


{% endblock custom_js %}