{% extends 'admin_template/base_template.html' %}

{% block page_title %}
<h1 class="ml-3">Manage Examinations</h1>
{% endblock page_title %}

{% block main_content %}

{% load static %}


<section class="content">
    <div class="">
        <button type="button" class="ml-4 mb-3 btn btn-primary" data-toggle="modal" data-target="#NewExam">
            Create a New Exam
        </button>

        <button type="button" class="ml-4 mb-3 btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Create a New Exam Type
        </button>

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "warning" %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="modal fade" id="NewExam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a New Exam</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <div class="">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ exam_form.name.label_tag }}
                                        {{ exam_form.name }}
                                    </div>
                                    <div class="form-group">
                                        {{ exam_form.exam_type.label_tag }}
                                        {{ exam_form.exam_type }}
                                    </div>
                                    <div class="form-group">
                                        {{ exam_form.exam_date.label_tag }}
                                        {{ exam_form.exam_date }}
                                    </div>
                                    <div class="form-group<
                                ">
                                        {{ exam_form.is_compulsory.label_tag }}
                                        {{ exam_form.is_compulsory }}
                                    </div>
                                    <div class="form-group">
                                        {{ exam_form.exam_class.label_tag }}
                                        {{ exam_form.exam_class }}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>

                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a New Exam Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="exam-type-form" method="POST" action="{% url 'add_exam_type' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="control-label col-sm-6">Exam Type
                                    Name:</label>
                                <div class="col-sm-9">
                                    {{ exam_type_form.name }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-6">Exam Type
                                    Description:</label>
                                <div class="col-sm-9">
                                    {{ exam_type_form.description }}
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="mx-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Exam Type</th>
                        <th>Exam Date</th>
                        <th>Compulsory</th>
                        <th>Exam Class</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for exam in exam%}
                    <tr>
                        <td>{{ exam.name }}</td>
                        <td>{{ exam.exam_type.name }}</td>
                        <td>{{ exam.exam_date }}</td>
                        <td>{{ exam.is_compulsory }}</td>
                        <td>{{ exam.exam_class }}</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="collapse" data-target="#form{{ exam.id }}" {%
                                if exam.id==selected_exam_id %} onload="$('#form{{ exam.id }}').collapse('show');" {%
                                endif %}>Edit/Add Details</button>

                            <a class="btn btn-button btn-danger" href="">Delete</a>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="8">
                            <div id="form{{ exam.id }}" class="form-row collapse">
                                <div>
                                </div>
                                <div class="card col-md-6 my-3">
                                    <div class="container my-3">
                                        <h3 class="text-bold">Grading for the Examinations</h3>
                                        <hr>
                                        <div class="">
                                            <div class="">

                                                <h4 class="text-bold">Add grade for exam - {{exam.name}}</h4>
                                                <form id="add-grade-form" method="POST"
                                                    action="{% url 'add_grade_exam'%}">
                                                    {% csrf_token %}
                                                    <div class="form-row">
                                                        <input type="hidden" name="exam_id" value="{{exam.id}}">
                                                        <div class="col">
                                                            <input type="text" class="form-control" name="grade"
                                                                placeholder="Grade" required>
                                                        </div>
                                                        <div class="col">
                                                            <input type="number" class="form-control" name="min_score"
                                                                placeholder="Min Score" required>
                                                        </div>
                                                        <div class="col">
                                                            <input type="number" class="form-control" name="max_score"
                                                                placeholder="Max Score" required>
                                                        </div>
                                                        <div class="col">

                                                            <button type="submit" class="btn btn-primary">Add
                                                                Grade</button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <h4 class="text-bold my-2">Grade List for exam - {{exam.name}}</h4>

                                                <table class="table table-striped">
                                                    
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Grade</th>
                                                            <th>Min Score</th>
                                                            <th>Max Score</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    {% for i in grade_range_list%}
                                                    {% if i.exam.id == exam.id %}
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                            <td contenteditable="true">{{i.grade}}</td>
                                                            <td contenteditable="true">{{i.max_score}}</td>
                                                            <td contenteditable="true">{{i.min_score}}</td>
                                                            <td>
                                                                <button class="btn btn-success save-row">Save</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 my-3">
                                    <div class="card rowss">
                                        <h3 class="mx-3 my-3 text-bold">Change Exam Type</h3>
                                        <hr>
                                        <div class="mx-3">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="{{ exam.exam_type }}">Exam
                                                        Type:</label>
                                                    <h6>Current: <i class="text-bold">{{ exam.exam_type }}</i></h6>

                                                    <h6>Change to: <i class="text-bold">{{ exam_form.exam_type }}</i>
                                                    </h6>

                                                </div>
                                                <a class="btn btn-success" href="http://">Save</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>


    </div>


</section>

{% endblock main_content %}

{% block custom_js %}

{% comment %}
With these changes, the "Select All" button will check all checkboxes in the table, and only unchecked checkboxes will
be included in the mass edit action.
{% endcomment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    const form = document.querySelector('#add-grade-form');
    console.log(form);
    console.log('Hello')

    $(document).ready(function () {
        $('.btn').click(function () {
            $(this).siblings('.form-row').toggle();
        });
    });

    $(document).ready(function () {

        // Submit ExamType form with AJAX
        $("#exam-type-form").submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/exam-type-submit/",
                data: $(this).serialize(),
                success: function (response) {
                    alert(response);
                    location.reload();
                },
                error: function (response) {
                    alert(response);
                }
            });
        })
    }
    );
</script>

{% endblock custom_js %}