{% extends 'admin_template/base_template.html' %} 
{% block page_title %} 
<b>Edit Fee Item</b> 
{% endblock page_title %} 
{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        
        <div class="mx-auto row">

            {% include 'core_navigation_navbar.html' %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %} {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit Fee Item</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <div class="card-body">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            {{edit_fee_item_form.as_p}}
                                            <div class="">
                                                <button type="submit" class="btn btn-primary">Save Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock main_content %}