{% extends 'admin_template/base_template.html' %}

{% block page_title %}
    Edit Department :: {{ department.name }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="d-flex col-md-12 justify-content-between mb-2">
            {% if not department.get_first.id == department.id %}
            <a href="/{{department.get_previous.id}}"><button class="btn btn-primary">Previous</button></a>
            {% else %}
            <button class="btn btn-dark disabled">Start</button>
            {% endif%}

            {% if not department.get_last.id == department.id %}
            <a href="{{department.get_next.id}}"><button class="btn btn-primary">Next</button></a>
            {% else %}
            <button class="btn btn-dark disabled">End </button>
            {% endif%}
        </div>      
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Staff</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_department_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            

                        <div class="card-body">
                            <input name="department_id" value="{{department_id}}" hidden>

                            <div class="form-group">
                                <label>Department Code</label>
                                <input type="hidden" name="class_id" value="{{ department.department_code }}" />
                                <input type="text" class="form-control" name="department_code" placeholder="Institution Code" id="department_code" value="{{ department.department_code}}">
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name" id="name" value="{{ department.name }}">
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" name="desc" placeholder="Description" id="description" value="{{ department.description }}">
                            </div>

                            <div class="form-group">
                                <label>Department Head</label>
                                <select name="head" class="form-control">
                                    <option value="{{ current_hod.admin.id }}" selected>{{ department.head }} - (Current H.O.D)</option>
                                    {% for hod in hod %}
                                    {% if hod.admin.id != current_hod.admin.id %}
                                    <option value="{{ hod.admin.id }}">{{ hod.admin.first_name }} </option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- <div class="form-group">
                               <label>Deputy Head</label>
                                <select name="deputy">
                                    {% for staff in staff %}
                                    <option value="{{ staff.admin.id }}">{{ staff.admin.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div> -->

                            
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update Department</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}