{% extends 'admin_template/base_template.html' %}

{% block main_content %}

{% load static %}

<!-- <button id="darkModeButton" class="btn btn-primary">Toggle Dark Mode</button> -->

<section class="content">
  <a class="btn btn-primary ml-2" href="{% url 'school_profile' %}" role="button">+ Set Up Institution</a> <br />&nbsp;
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ all_student_count }}</h3>

                  <p>Total Students</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                  
                </div>
                <a href="{% url 'manage_students' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ staff_count }}</h3>

                  <p>Total Staff</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'manage_staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
      

            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-dark">
                <div class="inner text-light">
                  <h3>{{ course_count }}</h3>

                  <p>Total Courses</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'academics:manage_class' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              
              </div>

            </div>

            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success ">
                <div class="inner">
                  <h3>{{ department_count }}</h3>

                  <p>Total Departments</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
               
              </div>
            </div>
              
              
            <!-- ./col -->
            
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-lg-6">
              <!-- PIE CHART -->
              <div class="card bg-gradient-light border-0 rounded-3d shadow">
                <div class="card-header bg-secondary">
                  <h3 class="card-title">Student and Staff Population Chart</h3>
                </div>
                <div class="card-body">
                  
                  <div class="card-body">
                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;">

                    </canvas>
                  </div>
                </div>
              </div>

              <!-- /.card -->
            </div>

            <div class="col-lg-6">
              <!-- DONUT CHART -->
              <div class="card bg-gradient-light border-0 rounded-3d shadow">
                <div class="card-header bg-secondary">
                  <h3 class="card-title">Total Courses Actively Offered</h3>
                </div>
                <div class="card-body">
                  
                  <div class="card-body">
                    <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
          </div>

          
        <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Number of students in Departments</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 30px; max-height: 60vh; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


          <div class="col-lg-6">
            
          </div>
        
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Student Attendance vs Leave</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>


          <div class="col-lg-6">
            <canvas id="chartCanvas"></canvas>
          </div>
        
        </div>

        </div><!-- /.container-fluid -->
</section>

  {% endblock main_content %}

  {% block custom_js %}
  <!-- Create a Django template variable to store the JavaScript data -->


  <script>

    $(document).ready(function(){
      var donutChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData = {
        labels: [
            'Students', 
            'Staff',
        ],
        datasets: [
          {
            data: ['{{ all_student_count }}', '{{ staff_count }}'],
            backgroundColor : ['#2C3E50', '#27AE60'],
          }
        ]
      }

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData        = pieData;
      var pieOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions      
      })


      // Get context with jQuery - using jQuery's .get() method.
      var course_name_list = "{{ course_count }}"
      var class_count_list = "{{ registered_course_count }}"
      var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
      var donutData        = {
        labels: ['total courses','active courses'],
        datasets: [
          {
            data: ['{{ course_count }}', '{{ registered_course_count }}'],
            backgroundColor : ['#F1C40F', '#27AE60'],
          }
        ]
      }
      var donutOptions     = {
        maintainAspectRatio : false,
        responsive : true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions      
      })


      //-------------
      //- BAR CHART - Staff Attendance vs Leave
      //-------------

      var department_list = "{{ department_name_list|safe  }}";
      var students_in_departments = "{{ students_in_departments_list|safe  }}";
      var department_name_list = "{{ department_name_list|safe }}";

      var barThickness = 40;

      // Generate random colors for each bar
      var barColors = [];
      for (var i = 0; i < department_list.length; i++) {
        var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
        barColors.push(randomColor);
      }

      var areaChartData = {
        labels  : department_name_list,
        datasets: [

          {
            label: 'Number of Students In Department',
            backgroundColor: barColors,
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius         : false,
            pointColor          : 'rgba(210, 214, 222, 1)',
            pointStrokeColor    : '#c1c7d1',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data: students_in_departments,
            barThickness:barThickness
          }
        ]
      }


      var barChartCanvas = $('#barChart').get(0).getContext('2d');
      var barChartData = jQuery.extend(true, {}, areaChartData);
      var temp0 = areaChartData.datasets[0];
      barChartData.datasets[0] = temp0;
      areaChartData.datasets[0].barThickness = 100;

      var barChartOptions = {
        type: 'bar',
        data: barChartData,
        options: {
          scales: {
            x: {
              beginAtZero: true,
              ticks: {
                autoSkip: false
              }
            },
            y: {
              beginAtZero: true
            }
          }
        }
      };

      var barChart = new Chart(barChartCanvas, barChartOptions);


        //- BAR CHART - Student Attendance vs Leave
      //-------------

      var student_attendance_present_list = "{{ student_attendance_present_list }}";
      var student_attendance_leave_list = "{{ student_attendance_leave_list }}";
      var student_name_list = "{{ student_name_list|safe }}";

      var areaChartData2 = {
        labels  : student_name_list,
        datasets: [
          {
            label               : 'Leave',
            backgroundColor     : 'rgba(60,141,188,0.9)',
            borderColor         : 'rgba(60,141,188,0.8)',
            pointRadius          : false,
            pointColor          : '#3b8bba',
            pointStrokeColor    : 'rgba(60,141,188,1)',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data                : student_attendance_leave_list 
          },
          {
            label               : 'Attendance',
            backgroundColor     : 'rgba(210, 214, 222, 1)',
            borderColor         : 'rgba(210, 214, 222, 1)',
            pointRadius         : false,
            pointColor          : 'rgba(210, 214, 222, 1)',
            pointStrokeColor    : '#c1c7d1',
            pointHighlightFill  : '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data                : student_attendance_present_list
          },
        ]
      }


      var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
      var barChartData2 = jQuery.extend(true, {}, areaChartData2)
      var temp02 = areaChartData2.datasets[0]
      var temp12 = areaChartData2.datasets[1]
      barChartData2.datasets[0] = temp12
      barChartData2.datasets[1] = temp02

      var barChartOptions2 = {
        responsive              : true,
        maintainAspectRatio     : false,
        datasetFill             : false
      }

      var barChart2 = new Chart(barChartCanvas2, {
        type: 'bar', 
        data: barChartData2,
        options: barChartOptions2
      })

      // Check if dark mode preference is set in local storage
      console.log('I am in the code')
      const prefersDarkMode = localStorage.getItem('darkMode');

      // Apply the dark mode class to body if the preference is set
      if (prefersDarkMode === 'true') {
        console.log('I am in the code clicked maxxx')
        $('body').addClass('dark-mode');
      }

      // Toggle dark mode when the button is clicked
      $('#darkModeButton').on('click', function() {
        // Toggle the dark mode class on body
        $('body').toggleClass('dark-mode');

        // Update the preference in local storage
        const isDarkMode = $('body').hasClass('dark-mode');
        localStorage.setItem('darkMode', isDarkMode.toString());
      });

    })

    $(document).ready(function() {
      // Check if dark mode preference is set in local storage
      console.log('I am in the code')
      const prefersDarkMode = localStorage.getItem('darkMode');

      // Apply the dark mode class to body if the preference is set
      if (prefersDarkMode === 'true') {
        console.log('I am in the code clicked maxxx')
        $('body').addClass('dark-mode');
      }

      // Toggle dark mode when the button is clicked
      $('#darkModeButton').on('click', function() {
        // Toggle the dark mode class on body
        $('body').toggleClass('dark-mode');

        // Update the preference in local storage
        const isDarkMode = $('body').hasClass('dark-mode');
        localStorage.setItem('darkMode', isDarkMode.toString());
      });
    });

  </script>

  {% endblock custom_js %}