{% extends 'admin_template/base_template.html' %}

{% block page_title %}
<b>Manage Department</b>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="ml-2">
        {% include 'core_navigation_navbar.html' %}
    </div>
    <div class="container-fluid">

        <a class="btn btn-primary" href="{% url 'add_department' %}" role="button">+ Add Department</a> <br />&nbsp;

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Department Details</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap sortable">
                            <thead>
                                <tr class="text-bold">
                                    <th>Record status</th>
                                    <th><a href="?sort=department_code" class="text-dark">ID </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=name" class="text-dark">Name </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=description" class="text-dark">Description </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=head" class="text-dark">Head </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th><a href="?sort=deputy" class="text-dark">Deputy </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for department in department %}
                                <tr>
                                    {% if not department.status %} 
                                    <td>In-Active</td> 
                                    {% else %} 
                                    <td>Active</td>
                                    {% endif %}
                                    <td>{{ department.department_code}}</td>
                                    <td>{{ department.name}}</td>
                                    <td>{{ department.description }}</td>
                                    <td>{{ department.head }}</td>
                                    <td>{{ department.deputy }}</td>
                                    <td>
                                        <a href="{% url 'edit_department' department.id %}" class="btn btn-success">Edit</a>
                                        <div class="modal fade" id="deleteModal{{department.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to <b>DELETE</b> the department?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                                        <a href="{% url 'delete_department' department.id %}"
                                                                class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="ml-0 my-2 btn btn-danger" data-toggle="modal" data-target="#deleteModal{{department.id}}">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}