{% extends 'admin_template/base_template.html' %}

{% block page_title %}
Manage Users
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="row">

            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Details</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">

                        <table class="table table-hover sortable">
                            <thead>
                              <tr>
                                <th> <a href="?sort=username" class="text-dark">Username </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                <th> <a href="?sort=user_type" class="text-dark">User Type </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                <th>Institution</th>
                                <th> <a href="?sort=login_attempts" class="text-dark">Login Attempts </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                <th> <a href="?sort=cooldown_end_time" class="text-dark">Cooldown Endtime </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                <th> <a href="?sort=account_status" class="text-dark">Account Status </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                <th> Status Action</th>
                                <th> <a href="?sort=account_status" class="text-dark">Account Requests </a><span class="text-dark fas fa-sort-amount-down-alt"></span></th>
                                <th>Other actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for user in users %}
                              <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.get_user_type }}</td>
                                <td>{{ user.institution.name }}</td>
                                <td>{{ user.login_attempts }}</td>
                                <td>{{ user.cooldown_end_time}}</td>
                                {% if user.get_account_status_display == 'Active'%}
                                <td>
                                    <a href=""
                                        class="btn btn-success disabled">Account Active</a>
                                </td>
                                <td>
                                    <a href="{% url 'deactivate_user' user.id %}" class="btn btn-danger">Deactivate Account</a>
                                </td>
                                {% else %}
                                <td>
                                    <a href="" class="btn btn-danger disabled">Account deactivated</a>
                                </td>
                                <td>
                                    <a href="{% url 'activate_user' user.id %}"
                                        class="btn btn-success">Activate Account</a>
                                </td>

                                {%endif%}
                                
                                {% if user.get_account_status_display == 'Activation Requested' %}
                                <td>
                                    <a href="" class="btn btn-warning disabled">Account Activation Requested</a>
                                </td>
                                {% elif user.get_account_status_display == 'Active'%}
                                <td>
                                    <a href="" class="btn btn-primary disabled">Action Not Required</a>
                                </td>
                                {% else%}
                                <td>
                                    <a href="" class="btn btn-dark disabled">Account Not Requested</a>
                                </td>
                                
                                {% endif %}

                                <td>
                                    <button type="button" class="ml-0 my-2 btn btn-danger" data-toggle="modal" data-target="#deleteModal{{user.id}}">
                                        Delete User
                                    </button>
                                </td>

                                <div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to <b>DELETE</b> the user?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                                                <a href=""
                                                        class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}