{% extends 'admin_template/base_template.html' %} 
{% block page_title %} 
<b>Manage Extracurricular Activities</b> 
{% endblock page_title %} 
{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        
        <div class="mx-auto row">

            {% include 'core_navigation_navbar.html' %}

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto row ">
                    <div class="mr-1">
                        <a class="btn btn-primary" href="{% url 'add_activities' %}" role="button"> Create an Activity</a><br/>&nbsp;
                    </div>
                </div>
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-body">

                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "warning" %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Manage Activities</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">
                                <table class="table table-hover text-wrap">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Description</th>
                                            <th>Gender</th>
                                            <th>Campus</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for activity in activities %}
                                        <tr>
                                            <td>{{ activity.code }}</td>
                                            <td>{{ activity.description }}</td>
                                            <td>{{ activity.get_gender_display }}</td>
                                            <td>{{ activity.campus }}</td>
                                            <td class="d-flex">
                                                <div>
                                                    <a href="{% url 'edit_activity' activity.id %}" class="btn btn-success">Edit</a>
                                                </div>
                                                <div class="ml-1">
                                                    <a href="{% url 'delete_activity' activity.id %}" class="btn btn-danger">Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock main_content %}