{% extends 'admin_template/base_template.html' %}

{% block page_title %}
<p class="mx-2">Manage Defers</p>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        {% if messages %}
        <div class="form-group">
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="col-lg-12">

            <div class="register-message">

            </div>


            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title text-bold">Manage Deferrals</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>



                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Applicant</th>
                                <th>Reason</th>
                                {% if role.name == 'Admissions' %}
                                <th>Admissions Approved</th>
                                {% elif role.name == 'Dean' %}
                                <th>Admissions Approved</th>
                                <th>Dean Approved</th>
                                {% elif role.name == 'Registrar' %}
                                <th>Admissions Approved</th>
                                <th>Dean Approved</th>
                                <th>Registrar Approved</th>
                                {% elif role.name == 'DVC' %}
                                <th>Admissions Approved</th>
                                <th>Dean Approved</th>
                                <th>Registrar Approved</th>
                                <th>DVC Approved</th>
                                {% endif %}
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for approval in approvals %}
                            <tr>
                                <td>{{ approval.id }}</td>
                                <td>{{ approval.applicant }}</td>
                                <td>{{ approval.reason }}</td>
                                {% if role.name == 'Admissions' %}
                                <td>
                                    {% if approval.admissions %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.admissions_comments }}
                                    </span>
                                </td>
                                {% elif role.name == 'Dean' %}
                                <td>
                                    {% if approval.admissions %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.admissions_comments }}
                                    </span>
                                </td>
                                <td>
                                    {% if approval.dean_approved %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.dean_comments }}
                                    </span>
                                </td>
                                {% elif role.name == 'Registrar' %}
                                <td>
                                    {% if approval.admissions %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.admissions_comments }}
                                    </span>
                                </td>
                                <td>
                                    {% if approval.dean_approved %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.dean_comments }}
                                    </span>
                                </td>
                                <td>
                                    {% if approval.registrar_approved %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.registrar_comments }}
                                    </span>
                                </td>
                                {% elif role.name == 'DVC' %}
                                <td>
                                    {% if approval.admissions %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.admissions_comments }}
                                    </span>
                                </td>
                                <td>
                                    {% if approval.dean_approved %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.dean_comments }}
                                    </span>
                                </td>
                                <td>
                                    {% if approval.registrar_approved %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.registrar_comments }}
                                    </span>
                                </td>
                                <td>
                                    {% if approval.dvc_approved %}
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#myModal" disabled>Approved</button>
                                    {% else %}
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                        data-target="#myModal" disabled>Not Approved</button>
                                    {% endif %}
                                    <span class="d-block">
                                        <p class="text-bold">comments :</p>{{ approval.dvc_comments }}
                                    </span>
                                </td>
                                {% endif %}
                                <td>
                                    {% if not_authorized %}
                                    <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-target="#myModal" disabled>Approve Defferal/Decline Defferal</button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#myModal-{{approval.id}}" id="value_id"
                                        value="{{approval.id}}">Approve Defferal/Decline Defferal</button>
                                    {% endif %}
                                </td>
                            </tr>

                            <div id="register-message"></div>

                            <div class="modal fade" id="myModal-{{approval.id}}" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel" aria-hidden="true" value="{{approval.id}}">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% csrf_token %}


                                            <div class="form-group">
                                                <label for="comments">Comments:</label>
                                                <textarea class="form-control" id="comments-{{approval.id}}" name="comments" rows="5"></textarea>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>

                                            <button id="approve-btn-{{approval.id}}" class="btn btn-button btn-success approve-btn"
                                                value="{{approval.id}}">Approve</button>

                                            <button id="disapprove-btn-{{approval.id}}"
                                                class="btn btn-button btn-danger"
                                                value="{{approval.id}}">Decline</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="register-message"></div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>


</section>

{% endblock main_content %}


{% block custom_js %}

{% comment %}
With these changes, the "Select All" button will check all checkboxes in the table, and only unchecked checkboxes will
be included in the mass edit action.
{% endcomment %}

<script>
    $(function () {
        //$('#approve-btn').click(function () {
        //    event.preventDefault();
        $('button[id^="approve-btn-"]').click(function() {
            var id = $(this).attr('id').substring(12);

            var comments = $('#comments-'+ id).val();
            console.log('Disaprove vv ' + id + comments)

            $.ajax({
                type: 'POST',
                url: '{% url "confirm_defer_student" %}',
                data: {
                    'id': id,
                    'comments': comments,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    //$('#register-table').html(response.table_html);
                    $('#id_reason').val('');
                    var modalContent = document.querySelector(".modal");
                    var submitappBtn = document.getElementById("approve-btn-"+id);
                    var submitdecBtn = document.getElementById("disapprove-btn-"+id);

                    modalContent.style.filter = "blur(3px)";
                    submitappBtn.disabled = true;
                    submitdecBtn.disabled = true;
                    $('#register-message').html('<div class="alert alert-success" role="alert">Deferral status updated made successfully!</div>');
                    
                    $('#myModal-'+ id).css('filter', 'blur(5px)');
                    // Wait for 3 seconds
                    setTimeout(function() {
                    // Animate the modal to fade out
                    $('#myModal-'+ id).animate({ opacity: 0.5 }, 0, function() {
                        // After the animation is complete, remove the modal from the DOM
                        $(this).remove();
                    });
                    }, 1000);
                    
                    function reloadTable() {
                        // Option 1: Reload the page to refresh the table
                        location.reload()
                    }
                    setTimeout(reloadTable, 1000);
                    
                },
                error: function (xhr, status, error) {
                    $('#register-message').html('<div class="alert alert-danger" role="alert">Deferral status update failed. Please try again ' + error + '.</div>');
                }
            });
        });
    });

    $(function () {
        $('button[id^="disapprove-btn-"]').click(function() {
            var id = $(this).attr('id').substring(15);

            // Retrieve the selected class ID from the input field
            var comments = $('#comments-'+ id).val();

            $.ajax({
                type: 'POST',
                url: '{% url "deny_defer_student" %}',
                data: {
                    'id': id,
                    'comments': comments,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    //$('#register-table').html(response.table_html);
                    var modalContent = document.querySelector(".modal");
                    var submitappBtn = document.getElementById("approve-btn-"+id);
                    var submitdecBtn = document.getElementById("disapprove-btn-"+id);

                    modalContent.style.filter = "blur(3px)";
                    submitappBtn.disabled = true;
                    submitdecBtn.disabled = true;
                    $('#register-message').html('<div class="alert alert-warning" role="alert">Deferral denied!</div>');
                    
                    $('#myModal-'+ id).css('filter', 'blur(5px)');
                    // Wait for 3 seconds
                    setTimeout(function() {
                    // Animate the modal to fade out
                    $('#myModal-'+ id).animate({ opacity: 0.5 }, 0, function() {
                        // After the animation is complete, remove the modal from the DOM
                        $(this).remove();
                    });
                    }, 1000);
                    
                    function reloadTable() {
                        // Option 1: Reload the page to refresh the table
                        location.reload()
                    }
                    setTimeout(reloadTable, 1000);
                    
                },
                error: function (xhr, status, error) {
                    $('#register-message').html('<div class="alert alert-danger" role="alert">Deferral status update failed. Please try again ' + error + '.</div>');
                }
            });
        });
    });
</script>

{% endblock custom_js %}