{% extends 'admin_template/base_template.html' %}

{% block page_title %}
Manage Student Affairs
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="">
            <a class="btn btn-primary" href="{% url 'admissions' %}" role="button"> Manage New Student
                Admissions</a><br />&nbsp;
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ all_student_count }}</h3>

                        <p>Manage Session Registration </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'academics:manage_session_registation' %}" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ deffereals_count }}</h3>

                        <p>Manage Defferals</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'manage_student_approvals' %}" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->


            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ temp_defer_count }}</h3>

                        <p>Manage Temporary Withdrawals</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'manage_student_approvals' %}" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ interfacultytransfer_count }}</h3>

                        <p>Manage InterFaculty Transfers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'manage_interfaculty_transfer' %}" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>

                </div>
            </div>


            <!-- ./col -->

        </div>

            <div class="col-lg-12">
                <!-- PIE CHART -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">All Student List</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <section class="content">
                            <div class="container-fluid">

                                <a class="btn btn-primary" href="{% url 'add_student' %}" role="button">+ Add
                                    Student</a> <br />&nbsp;

                                {% if messages %}
                                <div class="form-group">
                                    <div class="col-12">
                                        {% for message in messages %}
                                        {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                            style="margin-top: 10px;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert"
                                            style="margin-top: 10px;">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}

                                <div class="">

                                    <div class="col-md-12">
                                        <!-- general form elements -->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Student Details</h3>

                                                <div class="card-tools">
                                                    <div class="input-group input-group-sm" style="width: 150px;">
                                                        <input type="text" name="table_search"
                                                            class="form-control float-right" placeholder="Search">

                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-default"><i
                                                                    class="fas fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body table-responsive p-0">
                                                <table class="table table-hover text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Admission Number</th>
                                                            <th>First Name</th>
                                                            <th>Last Name</th>
                                                            <th>Username</th>
                                                            <th>Email</th>
                                                            <th>Address</th>
                                                            <th>Gender</th>
                                                            <th>Profile Pic</th>
                                                            <th>Start Year</th>
                                                            <th>End Year</th>
                                                            <th>Course</th>
                                                            <th>Last Login</th>
                                                            <th>Date Joined</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for student in students %}
                                                        <tr>
                                                            <td>{{ student.admission_number }}</td>
                                                            <td>{{ student.admin.first_name }}</td>
                                                            <td>{{ student.admin.last_name }}</td>
                                                            <td>{{ student.admin.username }}</td>
                                                            <td>{{ student.admin.email }}</td>
                                                            <td>{{ student.address }}</td>
                                                            <td>{{ student.gender }}</td>
                                                            <td> <img src="{{ student.profile_pic }}"
                                                                    style="width: 100px;" /> </td>
                                                            <td>{{ student.session_year_id.session_start_year }}</td>
                                                            <td>{{ student.session_year_id.session_end_year }}</td>
                                                            <td>{{ student.course_id.course_name }}</td>
                                                            <td>{{ student.admin.last_login }}</td>
                                                            <td>{{ student.admin.date_joined }}</td>
                                                            <td>
                                                                <a href="{% url 'edit_student' student.admin.id %}"
                                                                    class="btn btn-success">Edit</a>
                                                                <a href="{% url 'delete_student' student.admin.id %}"
                                                                    class="btn btn-danger">Delete</a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->

                                    </div>
                                </div>

                            </div><!-- /.container-fluid -->
                        </section>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        <div class="row">
            <div class="col-lg-6">
                <!-- PIE CHART -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Total Student in Each Course</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart2"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-lg-6">
                <!-- PIE CHART -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Total Students in Each Subject</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart3"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <!-- BAR CHART -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Staff Attendance vs Leave</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChart"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <div class="col-lg-6">

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- BAR CHART -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Student Attendance vs Leave</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="barChart2"
                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <div class="col-lg-6">

            </div>

        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}

{% block custom_js %}

<script>
    $(document).ready(function () {
        var donutChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieData = {
            labels: [
                'Students',
                'Staffs',
            ],
            datasets: [
                {
                    data: [{{ all_student_count }}, {{ staff_count }}],
            backgroundColor: ['#f56954', '#00a65a'],
    }
    ]
  }

  //-------------
  //- PIE CHART -
  //-------------
  // Get context with jQuery - using jQuery's .get() method.
  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData = pieData;
    var pieOptions = {
        maintainAspectRatio: false,
        responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var pieChart = new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
    })


    // Get context with jQuery - using jQuery's .get() method.
    var class_name_list = {{ class_name_list| safe }}
    var subject_count_list = {{ subject_count_list }}
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData = {
        labels: class_name_list,
        datasets: [
            {
                data: subject_count_list,
                backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
            }
        ]
    }
    var donutOptions = {
        maintainAspectRatio: false,
        responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    var donutChart = new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions
    })


    // Total Students in Each Course
    //var donutChartCanvas = $('#pieChart2').get(0).getContext('2d')
    var student_count_list_in_class = {{ student_count_list_in_class }}
    var pieData2 = {
        labels: class_name_list,
        datasets: [
            {
                data: student_count_list_in_class,
                backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
            }
        ]
    }

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')
    var pieData2 = pieData2;
    var pieOptions2 = {
        maintainAspectRatio: false,
        responsive: true,
    }

    var pieChart2 = new Chart(pieChartCanvas2, {
        type: 'pie',
        data: pieData2,
        options: pieOptions2
    })

    // Total Students in Each Subject
    var student_count_list_in_subject = {{ student_count_list_in_subject }}
    var subject_list = {{ subject_list| safe }}
    var pieData3 = {
        labels: subject_list,
        datasets: [
            {
                data: student_count_list_in_subject,
                backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
            }
        ]
    }

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas3 = $('#pieChart3').get(0).getContext('2d')
    var pieData3 = pieData3;
    var pieOptions3 = {
        maintainAspectRatio: false,
        responsive: true,
    }

    var pieChart3 = new Chart(pieChartCanvas3, {
        type: 'pie',
        data: pieData3,
        options: pieOptions3
    })

    //-------------
    //- BAR CHART - Staff Attendance vs Leave
    //-------------

    var staff_attendance_present_list = {{ staff_attendance_present_list }};
    var staff_attendance_leave_list = {{ staff_attendance_leave_list }};
    var staff_name_list = {{ staff_name_list| safe }};

    var areaChartData = {
        labels: staff_name_list,
        datasets: [
            {
                label: 'Leave',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: staff_attendance_leave_list
            },
            {
                label: 'Attendance',
                backgroundColor: 'rgba(210, 214, 222, 1)',
                borderColor: 'rgba(210, 214, 222, 1)',
                pointRadius: false,
                pointColor: 'rgba(210, 214, 222, 1)',
                pointStrokeColor: '#c1c7d1',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(220,220,220,1)',
                data: staff_attendance_present_list
            },
        ]
    }


    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = jQuery.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        datasetFill: false
    }

    var barChart = new Chart(barChartCanvas, {
        type: 'bar',
        data: barChartData,
        options: barChartOptions
    })


    //- BAR CHART - Student Attendance vs Leave
    //-------------

    var student_attendance_present_list = {{ student_attendance_present_list }};
    var student_attendance_leave_list = {{ student_attendance_leave_list }};
    var student_name_list = {{ student_name_list| safe }};

    var areaChartData2 = {
        labels: student_name_list,
        datasets: [
            {
                label: 'Leave',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: student_attendance_leave_list
            },
            {
                label: 'Attendance',
                backgroundColor: 'rgba(210, 214, 222, 1)',
                borderColor: 'rgba(210, 214, 222, 1)',
                pointRadius: false,
                pointColor: 'rgba(210, 214, 222, 1)',
                pointStrokeColor: '#c1c7d1',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(220,220,220,1)',
                data: student_attendance_present_list
            },
        ]
    }


    var barChartCanvas2 = $('#barChart2').get(0).getContext('2d')
    var barChartData2 = jQuery.extend(true, {}, areaChartData2)
    var temp02 = areaChartData2.datasets[0]
    var temp12 = areaChartData2.datasets[1]
    barChartData2.datasets[0] = temp12
    barChartData2.datasets[1] = temp02

    var barChartOptions2 = {
        responsive: true,
        maintainAspectRatio: false,
        datasetFill: false
    }

    var barChart2 = new Chart(barChartCanvas2, {
        type: 'bar',
        data: barChartData2,
        options: barChartOptions2
    })

})
</script>

{% endblock custom_js %}