{% extends 'admin_template/base_template.html' %} 
{% block page_title %} 
<b>Processes</b> 
{% endblock page_title %} 
{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %} {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Manage All Processes</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <div class="card-body">

                                        



                                    </div>

                                    <div class="container mt-4">
                                        <div class="row">
                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'admissions' %}">
                                                <div class="card bg-gradient-primary">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Application, Admission & Registration</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                            
                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'manage_disciplinary_issues' %}">
                                                <div class="card bg-gradient-dark">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Disciplinary</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                            <!-- Add more cards for other details here -->
                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'manage_student_approvals' %}">
                                                <div class="card bg-gradient-primary">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Deferment</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'manage_temporary_approvals' %}">
                                                <div class="card bg-gradient-primary">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Credit Transfer/Credit Exemption</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'manage_interfaculty_transfer' %}">
                                                <div class="card bg-gradient-info">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Inter & Intra School/Faculty Transfer</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'admissions' %}">
                                                <div class="card bg-gradient-primary ">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Readmission/Resumption of Study</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <a href="">
                                                <div class="card">
                                                    <div class="card-body bg-gradient-primary">
                                                        <h5 class="card-title">Staff Attendance</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <a href="{% url 'manage_houses' %}">
                                                <div class="card bg-gradient-dark">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Accommodation</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>

                                            <div class="col-md-4 mb-4">
                                                <a href="">
                                                <div class="card bg-gradient-primary">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Catering</h5>
                                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock main_content %}