{% extends 'admin_template/base_template.html' %}

{% block page_title %}
School Management Details
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="ml-1">
            <a class="btn btn-warning" href="{% url 'manage_session' %}" role="button"> Manage Sessions</a><br/>&nbsp;
        </div>
        <div class="mx-auto row ">
            <div class="">
                <a class="btn btn-primary" href="{% url 'manage_departments' %}" role="button"> Manage Departments</a><br/>&nbsp;
            </div>
            <div class="ml-1">
                <a class="btn btn-primary" href="{% url 'manage_courses' %}" role="button"> Manage Courses</a><br/>&nbsp;
            </div>
            
            <div class="ml-1">
                <a class="btn btn-primary" href="{% url 'academics:clusterclass_list' %}" role="button"> Manage Class Clusters</a><br/>&nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                      </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit School details</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                {% url 'admin_school_update' as action_path %}
                                {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Update School Details" %}
            
                                </div>
                                <!-- /.card -->
            
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}