{% extends 'admin_template/base_template.html' %} 
{% block page_title %} 
School Management Details 
{% endblock page_title %} 
{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        
        <div class="mx-auto row">
            <div class="">
                <a class="btn btn-warning" href="{% url 'academics:manage_session' %}" role="button">
                    Manage Sessions</a><br />&nbsp;
            </div>
            <div class="ml-3">
                <a class="btn btn-warning" href="{% url 'manage_departments' %}" role="button">
                    Manage Departments</a><br />&nbsp;
            </div>
            <div class="ml-3">
                <a class="btn btn-warning" href="{% url 'manage_courses' %}" role="button">
                    Manage Courses</a><br />&nbsp;
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %} {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Edit School details</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <div class="card-body">
                                        <form method="post" action="{% url 'admin_school_update'%}">
                                            {% csrf_token %} 
                                            <div>
                                                <img src="{{ student.profile_pic }}" style="width: 100px;" />
                                                <img src="{{ institution.logo }}" alt="Uploaded Image">
                                            </div>
                                            {{ form.as_p }}
                                            <div class="ml-1">
                                                <button class="btn btn-primary" type="submit">Submit</button>
                                                <br/>&nbsp;
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock main_content %}