{% extends 'admin_template/base_template.html' %}

{% block page_title %}
School Profile
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update School Profile</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add School</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            {% url 'admin_school_update' as action_path %}
                            {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Update School Details" %}
        
                            </div>
                            <!-- /.card -->
        
                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}