
{% extends 'admin_template/base_template.html' %}

{% block page_title %}
School Profile
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update School Profile</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add School</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                {% url 'admin_school_update' as action_path %}
                                <form role="form" method="POST" action="{{ action_path }}"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}


                                    {% comment %} Display Messages {% endcomment %}
                                    {% if messages %}
                                    <div class="form-group">
                                        <div class="col-12">
                                            {% for message in messages %}
                                            {% if message.tags == "error" %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                                style="margin-top: 10px;">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            {% elif message.tags == "success" %}
                                            <div class="alert alert-success alert-dismissible fade show" role="alert"
                                                style="margin-top: 10px;">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="card-body">

                                        {% comment %} Adding Form with All inputs Here {% endcomment %}

                                        {% csrf_token %}

                                        <!-- Name -->
                                        <div class="form-group">
                                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                            {{ form.name }}
                                        </div>

                                        <!-- Country -->
                                        <div class="form-group">
                                            <label for="{{ form.country.id_for_label }}">{{ form.country.label
                                                }}</label>
                                            {{ form.country }}
                                        </div>

                                        <!-- Institution Order -->
                                        <div class="form-group">
                                            <label>{{ form.institution_order.label }}</label>
                                            {% for choice in form.institution_order %}
                                            <div class="form-check">
                                                {{ choice }}
                                                <label class="form-check-label">{{ choice.choice_label }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <!-- Institution Location Hierarchy -->
                                        <div class="form-group">
                                            <label for="{{ form.institution_location_hierarchy.id_for_label }}">{{
                                                form.institution_location_hierarchy.label }}</label>
                                            {{ form.institution_location_hierarchy }}
                                        </div>

                                        <!-- Institution Cluster -->
                                        <div class="form-group">
                                            <label>{{ form.institution_cluster.label }}</label>
                                            {% for choice in form.institution_cluster %}
                                            <div class="form-check">
                                                {{ choice }}
                                                <label class="form-check-label">{{ choice.choice_label }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <!-- Institution Category -->
                                        <div class="form-group">
                                            <label>{{ form.institution_category.label }}</label>
                                            {% for choice in form.institution_category %}
                                            <div class="form-check">
                                                {{ choice }}
                                                <label class="form-check-label">{{ choice.choice_label }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <!-- Institution Gender Category -->
                                        <div class="form-group">
                                            <label>{{ form.institution_gender_category.label }}</label>
                                            {% for choice in form.institution_gender_category %}
                                            <div class="form-check">
                                                {{ choice }}
                                                <label class="form-check-label">{{ choice.choice_label }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <!-- Institution Accommodation Type -->
                                        <div class="form-group">
                                            <label>{{ form.institution_accomodation_type.label }}</label>
                                            {% for choice in form.institution_accomodation_type %}
                                            <div class="form-check">
                                                {{ choice }}
                                                <label class="form-check-label">{{ choice.choice_label }}</label>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <!-- Institution Status -->
                                        <div class="form-group">
                                            <label for="{{ form.institution_status.id_for_label }}">{{
                                                form.institution_status.label }}</label>
                                            {{ form.institution_status }}
                                        </div>

                                        <!-- Institution Type -->
                                        <div class="form-group">
                                            <label for="{{ form.institution_type.id_for_label }}">{{
                                                form.institution_type.label }}</label>
                                            {{ form.institution_type }}
                                        </div>

                                        <!-- Institution in ASAL area -->
                                        <div class="form-group">
                                            <div class="form-check">
                                                {{ form.institution_in_ASAL_area }}
                                                <label class="form-check-label">{{ form.institution_in_ASAL_area.label
                                                    }}</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>{{ form.institution_residence.label }}</label>
                                            <div class="form-check">
                                                {% for choice in form.institution_residence %}
                                                    <input class="form-check-input" type="checkbox" name="{{ form.institution_residence.name }}" id="{{ form.institution_residence.id_for_label }}_{{ forloop.counter0 }}"
                                                        value="{{ choice.0 }}" {% if choice.0 in form.institution_residence.value %}checked{% endif %}>
                                                    <label class="form-check-label" for="{{ form.institution_residence.id_for_label }}_{{ forloop.counter0 }}">
                                                        {{ choice.1 }}
                                                    </label>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.telephone1.label }}</label>
                                            <input type="text" name="{{ form.telephone1.name }}" value="{{ form.telephone1.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.telephone2.label }}</label>
                                            <input type="text" name="{{ form.telephone2.name }}" value="{{ form.telephone2.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.fax_number.label }}</label>
                                            <input type="text" name="{{ form.fax_number.name }}" value="{{ form.fax_number.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.email_address.label }}</label>
                                            <input type="email" name="{{ form.email_address.name }}" value="{{ form.email_address.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.postal.label }}</label>
                                            <input type="text" name="{{ form.postal.name }}" value="{{ form.postal.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.physical_address1.label }}</label>
                                            <input type="text" name="{{ form.physical_address1.name }}" value="{{ form.physical_address1.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.physical_address2.label }}</label>
                                            <input type="text" name="{{ form.physical_address2.name }}" value="{{ form.physical_address2.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.physical_address3.label }}</label>
                                            <input type="text" name="{{ form.physical_address3.name }}" value="{{ form.physical_address3.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.bank1.label }}</label>
                                            <input type="text" name="{{ form.bank1.name }}" value="{{ form.bank1.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.bank2.label }}</label>
                                            <input type="text" name="{{ form.bank2.name }}" value="{{ form.bank2.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.bank3.label }}</label>
                                            <input type="text" name="{{ form.bank3.name }}" value="{{ form.bank3.value }}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.bank4.label }}</label>
                                            <input type="text" name="{{ form.bank4.name }}" value="{{ form.bank4.value }}" class="form-control">
                                        </div>




                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">{{ button_text }}</button>
                                    </div>
                                </form>

                            </div>
                            <!-- /.card -->

                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}


































////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

















































{% extends 'admin_template/base_template.html' %}

{% block page_title %}
School Profile
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Update School Profile</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'admin_school_update' %}">
                        {% csrf_token %}

                        {% comment %} Display Messages {% endcomment %}

                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <!-- PIE CHART -->
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Institution Meta Data</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                    class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="">

                                            <div class="form-group">
                                                <label>Code </label>
                                                <input type="text" class="form-control" name="code" disabled="disabled"
                                                    value="{{school.institution_code}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Name </label>
                                                <input type="text" class="form-control" name="name"
                                                    value="{{school.name}}">
                                            </div>

                                            <div class="form-group">
                                                <label>Organization Type </label>
                                                
                                                {% comment %} 
                                                <select name="org_type">
                                                    <option value="{{ school.institution_type.id }}">{{ school.institution_type }}</option>
                                                </select>
                                                {% endcomment %} 

                                                <input type="text" class="form-control" name="institution_type"
                                                    value="{{ school.institution_type }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Organization Category </label>
                                                <input type="text" class="form-control" name="org_cat"
                                                    value="{{ school.institution_category }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Organization Accomodation Type </label>
                                                <input type="text" class="form-control" name="org_accomodation"
                                                    value="{{ school.institution_accomodation_type }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Organization Gender Category </label>
                                                <input type="text" class="form-control" name="org_inst_cat"
                                                    value="{{ school.institution_gender_category }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Organization Status(Public v Private) </label>
                                                <input type="text" class="form-control" name="institution_status"
                                                    value="{{ school.institution_status }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Description </label>
                                                <input type="text" class="form-control" name="desc"
                                                    value="{{ school.desc }}">
                                            </div>

                                            <div class="form-group">
                                                <label>Registration Date </label>
                                                <input type="text" class="form-control" name="reg_date"
                                                    value="{{ school.registration_date }}">
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <!-- PIE CHART -->
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Academic Details</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                    class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Organization Cluster </label>
                                            <input type="text" class="form-control" name="cluster"
                                                value="{{ school.institution_cluster }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Exam Centre Number </label>
                                            <input type="text" class="form-control" name="exam_cent_num"
                                                value="{{ school.examination_centre_number }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Organization Order </label>
                                            <input type="text" class="form-control" name="org_order"
                                                value="{{ school.institution_order }}">
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <!-- PIE CHART -->
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Geography Meta Data Details</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                    class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                    <div class="row m-1">
                                        <div class="card-body col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <h4>Organization Higher Location Hierarchy </h4>
                                                    <label> Country </label>
                                                    <input type="text" class="form-control" name="country"
                                                        value="{{ school.country }}">
                                                    <label> County </label>
                                                    <input type="text" class="form-control" name="county"
                                                        value="{{ school.institution_location_hierarchy.county }}">
                                                    <label> Sub-County</label>
                                                    <input type="text" class="form-control" name="sub_county"
                                                        value="{{ school.institution_location_hierarchy.sub_county }}">
                                                    
                                                </div>

                                            </div>
                                        </div>

                                        <div class="card-body col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <h4>Organization Lower Location Hierarchy </h4>
                                                    <label> District </label>
                                                    <input type="text" class="form-control" name="district"
                                                        value="{{ school.institution_location_hierarchy.district }}">
                                                    <label> Zone </label>
                                                    <input type="text" class="form-control" name="zone"
                                                        value="{{ school.institution_location_hierarchy.zone }}">
                                                    <label> Constituency </label>
                                                    <input type="text" class="form-control" name="constituency"
                                                        value="{{ school.institution_location_hierarchy.constituency }}">
                                                    <label> Ward </label>
                                                    <input type="text" class="form-control" name="ward"
                                                        value="{{ school.institution_location_hierarchy.ward }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <h4>Other related details </h4>
                                                    <label for="institution_in_ASAL_area">Institution in ASAL area:</label>
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input" id="institution_in_ASAL_area" name="institution_in_ASAL_area"
                                                            {% if school.institution_in_ASAL_area %}checked{% endif %}>
                                                    </div>
                                                    <br>
                                                    <label>Institution Residence </label>
                                                    <input type="text" class="form-control" name="org_residence"
                                                        value="{{ school.institution_residence }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <!-- PIE CHART -->
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Contact Details</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                    class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row m-1">
                                        <div class="card-body col-md-6">
                                            <div class="form-group">
                                                <label for="telephone1">Telephone 1</label>
                                                <input type="text" class="form-control" id="telephone1"
                                                    name="telephone1" value="{{ school.contact_details.telephone1 }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="telephone2">Telephone 2</label>
                                                <input type="text" class="form-control" id="telephone2"
                                                    name="telephone2" value="{{ school.contact_details.telephone2 }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="fax_number">Fax Number</label>
                                                <input type="text" class="form-control" id="fax_number"
                                                    name="fax_number" value="{{ school.contact_details.fax_number }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="email_address">Email Address</label>
                                                <input type="email" class="form-control" id="email_address"
                                                    name="email_address"
                                                    value="{{ school.contact_details.email_address }}">
                                            </div>

                                        </div>
                                        <div class="card-body col-md-6">

                                            <div class="form-group">
                                                <label for="postal">Postal Address</label>
                                                <input type="text" class="form-control" id="postal" name="postal"
                                                    value="{{ school.contact_details.address.postal }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="physical_address1">Physical Address 1</label>
                                                <input type="text" class="form-control" id="physical_address1"
                                                    name="physical_address1"
                                                    value="{{ school.contact_details.address.physical_address1 }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="physical_address1">Physical Address 2</label>
                                                <input type="text" class="form-control" id="physical_address2"
                                                    name="physical_address2"
                                                    value="{{ school.contact_details.address.physical_address2 }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="physical_address1">Physical Address 3</label>
                                                <input type="text" class="form-control" id="physical_address3"
                                                    name="physical_address3"
                                                    value="{{ school.contact_details.address.physical_address3 }}">
                                            </div>
                                        </div>

                                        <!-- "fax_number": "+0123456789",
                                    #     "email_address": "institution@example.com",
                                    #     "address": {
                                    #         "postal": "123 Example St, City, Country",
                                    #         "physical_address1": "456 Example Ave, City, Country",
                                    #         "physical_address2": "",
                                    #         "physical_address3": "",
                                    #     } -->
                                    </div>

                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <!-- PIE CHART -->
                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">Financial Details</h3>

                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                                    class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="card-body col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <h4>Bank Details </h4>
                                                    <label> Bank 1 </label>
                                                    <input type="text" class="form-control" name="bank1"
                                                        value="{{ school.institution_location_hierarchy.bank1 }}">
                                                    <label> Bank 2 </label>
                                                    <input type="text" class="form-control" name="bank2"
                                                        value="{{ school.institution_location_hierarchy.bank2 }}">
                                                    <label> Bank 3 </label>
                                                    <input type="text" class="form-control" name="bank3"
                                                        value="{{ school.institution_location_hierarchy.bank3 }}">
                                                    <label> Bank 4 </label>
                                                    <input type="text" class="form-control" name="bank4"
                                                        value="{{ school.institution_location_hierarchy.bank4 }}">
                                                    <label> Mobile Money </label>
                                                    <input type="text" class="form-control" name="mobile_money"
                                                        value="{{ school.institution_location_hierarchy.mobile_money }}">
                                                    <label> Pay Bill Number </label>
                                                    <input type="text" class="form-control" name="pay_bill_number"
                                                        value="{{ school.institution_location_hierarchy.pay_bill_number}}">
                                                    <label> Till Number </label>
                                                    <input type="text" class="form-control" name="till_number"
                                                        value="{{ school.institution_location_hierarchy.till_number}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <h4>Statutory Details </h4>
                                                    <div class="form-group">
                                                        <label>PIN/Tax Number </label>
                                                        <input type="text" class="form-control" name="pin_number"
                                                            value="{{ school.institution_statutory_numbers.pin_number }}">
                                                        <label>NHIF </label>
                                                        <input type="text" class="form-control" name="nhif"
                                                            value="{{ school.institution_statutory_numbers.nhif }}">
                                                        <label>Social Security Number </label>
                                                        <input type="text" class="form-control"
                                                            name="social_security_number"
                                                            value="{{ school.institution_statutory_numbers.social_security_number }}">
                                                        <label>Industrial Training Number </label>
                                                        <input type="text" class="form-control"
                                                            name="industrial_training_number"
                                                            value="{{ school.institution_statutory_numbers.industrial_training_number }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body col-md-4">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <h4>Other Details </h4>
                                                    <div class="form-group">
                                                        <label>Currency </label>
                                                        <input type="text" class="form-control" name="org_currency"
                                                            value="{{ school.currency }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}