{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'admin_home' %}" class="brand-link">
    <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">iSOFTLMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'admin_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

        {% comment %}
        <li class="nav-item">
          {% url 'admin_home' as admin_home %}
          <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        {% endcomment %}

        <li class="nav-item">
          {% url 'admin_home' as admin_home %}
          <a class="nav-link collapsed text-truncate {% if request.path == admin_home %} active {% endif %}"
            href="#submenu0" data-toggle="collapse" data-target="#submenu"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Base Module</span></a>

          <div class="collapse" id="submenu" aria-expanded="false">
            <ul class="flex-column pl-2 nav">


              <li class="nav-item">
                {% url 'school_profile' as school_profile %}
                {% url 'edit_course' institution_id=id as edit_institution %}
                <a href="{{ school_profile }}"
                  class="nav-link {% if request.path == school_profile %} active {% endif %} {% if request.path == school_profile %} active {% endif %}">
                  <i class="nav-icon fas fa-chalkboard"></i>
                  <p>
                    School Profile
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_departments' as manage_departments  %}
                {% url 'edit_department' department_id=id as edit_department  %}
                <a href="{{ manage_departments }}"
                  class="nav-link {% if request.path == manage_departments  %} active {% endif %} {% if request.path == edit_department  %} active {% endif %}">
                  <i class="nav-icon fas fa fa-building"></i>
                  <p>
                    Manage Departments
                  </p>
                </a>
              </li>

              

              <li class="nav-item">
                <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenuusers"><i
                    class="nav-icon fas fa fa-users"></i> <span class="d-none d-sm-inline">Manage Users</span></a>
      
                <div class="collapse" id="submenuusers" aria-expanded="false">
                  <ul class="flex-column pl-2 nav">
      
      
      
                    <li class="nav-item">
                      {% url 'manage_hod' as manage_hod %}
                      {% url 'edit_hod' hod_id=id as edit_hod %}
                      <a href="{{ manage_hod }}"
                        class="nav-link {% if request.path == manage_hod %} active {% endif %} {% if request.path == edit_hod %} active {% endif %}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                          Manage H.O.D
                        </p>
                      </a>
                    </li>
      
                    <li class="nav-item">
                      {% url 'manage_staff' as manage_staff %}
                      {% url 'edit_staff' staff_id=id as edit_staff %}
                      <a href="{{ manage_staff }}"
                        class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                        <p>
                          Manage Staff
                        </p>
                      </a>
                    </li>
      
                    <li class="nav-item">
                      {% url 'manage_student' as manage_student %}
                      {% url 'edit_student' student_id=id as edit_student %}
                      <a href="{{ manage_student }}"
                        class="nav-link {% if request.path == manage_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                          Manage Student
                        </p>
                      </a>
                    </li>

                    <li class="nav-item">
                      {% url 'manage_guardians' as manage_guardians %}
                      {% url 'edit_guardian' guardian_id=id as edit_guardian %}
                      <a href="{{ manage_guardians }}"
                        class="nav-link {% if request.path == manage_guadians %} active {% endif %} {% if request.path == edit_guardians %} active {% endif %}">
                        <i class="nav-icon fas fa fa fa-users"></i>
                        <p>
                          Manage Guardian
                        </p>
                      </a>
                    </li>
      
                  </ul>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu0"><i
                    class="nav-icon fas fa fa-book"></i> <span class="d-none d-sm-inline">Manage Academics</span></a>
      
                <div class="collapse" id="submenu0" aria-expanded="false">
                  <ul class="flex-column pl-2 nav">
      
      
      
                    <li class="nav-item">
                      {% url 'manage_course' as manage_course %}
                      {% url 'edit_course' course_id=id as edit_course %}
                      <a href="{{ manage_course }}"
                        class="nav-link {% if request.path == manage_course %} active {% endif %} {% if request.path == edit_course %} active {% endif %}">
                        <i class="nav-icon fas fa-chalkboard"></i>
                        <p>
                          Manage Course
                        </p>
                      </a>
                    </li>      
                    <li class="nav-item">
                      {% url 'manage_subject' as manage_subject %}
                      {% url 'edit_subject' subject_id=id as edit_subject %}
                      <a href="{{ manage_subject }}"
                        class="nav-link {% if request.path == manage_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                          Manage Subjects
                        </p>
                      </a>
                    </li>
                    <li class="nav-item">
                      {% url 'manage_session' as manage_session %}
                      {% url 'edit_session' session_id=id as edit_session %}
                      <a href="{{ manage_session }}"
                        class="nav-link {% if request.path == manage_session %} active {% endif %} {% if request.path == edit_session %} active {% endif %}">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                          Manage Session
                        </p>
                      </a>
                    </li>
      
                  </ul>
                </div>
              </li>
      
      


              {% comment %}

              <li class="nav-item">
                {% url 'add_staff' as add_staff %}
                <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Add Staff
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'add_student' as add_student %}
                <a href="{{ add_student }}" class="nav-link {% if request.path == add_student %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Add Student
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'admin_view_attendance' as admin_view_attendance %}
                <a href="{{ admin_view_attendance }}"
                  class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
                  <i class="nav-icon fas fa-calendar-alt"></i>
                  <p>
                    View Attendance
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'student_feedback_message' as student_feedback_message %}
                <a href="{{ student_feedback_message }}"
                  class="nav-link {% if request.path == student_feedback_message %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Student Feedback
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'staff_feedback_message' as staff_feedback_message %}
                <a href="{{ staff_feedback_message }}"
                  class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Stafff Feedback
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'student_leave_view' as student_leave_view %}
                <a href="{{ student_leave_view }}"
                  class="nav-link {% if request.path == student_leave_view %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Student Leave
                  </p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'staff_leave_view' as staff_leave_view %}
                <a href="{{ staff_leave_view }}"
                  class="nav-link {% if request.path == staff_leave_view %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Staff Leave
                  </p>
                </a>
              </li>

              <li class="nav-item"><a class="nav-link py-0" href="#"><span>Orders</span></a></li>
              <li class="nav-item">
                <a class="nav-link  text-truncate collapsed py-1" href="#submenu1sub1" data-toggle="collapse"
                  data-target="#submenu1sub1"><span>Customers</span></a>
                <div class="collapse" id="submenu1sub1" aria-expanded="false">
                  <ul class="flex-column nav pl-4">
                    <li class="nav-item">
                      <a class="nav-link p-1 text-truncate" href="#">
                        <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-1 text-truncate" href="#">
                        <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-1 text-truncate" href="#">
                        <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link p-1 text-truncate" href="#">
                        <i class="fa fa-fw fa-compass"></i> Areas </a>
                    </li>


                  </ul>
                </div>
              </li>

              {% endcomment %}

              
              
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenuc"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Academics Module</span></a>

          <div class="collapse" id="submenuc" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Finance Module</span></a>

          <div class="collapse" id="submenu1" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu3"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Procurement &
              Inventory</span></a>

          <div class="collapse" id="submenu3" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu4"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span
              class="d-none d-sm-inline">Semesters/Sessions/Terms</span></a>

          <div class="collapse" id="submenu4" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu5"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Library Management</span></a>

          <div class="collapse" id="submenu5" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu6"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Attendance
              Management</span></a>

          <div class="collapse" id="submenu6" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu7"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Extra-Curriculum
              Activities</span></a>

          <div class="collapse" id="submenu7" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu8"><i
              class="nav-icon fas fa-tachometer-alt"></i> <span class="d-none d-sm-inline">Fleet Management</span></a>

          <div class="collapse" id="submenu8" aria-expanded="false">
            <ul class="flex-column pl-2 nav">

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-chalkboard-teacher"></i>
                  <p>
                    Check 1
                  </p>
                </a>
              </li>

              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Check 2
                  </p>
                </a>
              </li>

            </ul>
          </div>
        </li>



      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>