{% extends 'finance/base_template.html' %}

{% block page_title %}
Approve Applicants
{% endblock page_title %}

{% block main_content %}


{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Approve Applicants</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                        {% comment %} Display Messages {% endcomment %}
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %}
                                {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert"
                                    style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        {% if errors %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Form errors:</strong>
                                <ul>
                                {% for field_name, errors in errors.items %}
                                    <li>{{ field_name }}: {{ errors|join:", " }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <div id="register-message">

                        </div>


                        <table id="test" class="table table-striped">
                            <div class="register-message"></div>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Exam Type</th>
                                    <th>Exam Date</th>
                                    <th>Compulsory</th>
                                    <th>Exam Class</th>
                                    <th>Ammount Paid</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% csrf_token %}
                                {% for i in all_application_payments%}
                                <tr>
                                    <td contenteditable="true">{{ i.surname }}</td>
                                    <td contenteditable="true">{{ i.other_names }}</td>
                                    <td contenteditable="true">{{ i.id_or_passport_number }}</td>
                                    <td contenteditable="true">{{ i.telephone }}</td>
                                    <td contenteditable="true">{{ i.faculty }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-primary" data-toggle="collapse" data-target="#form{{ i.id }}">Applicant Details</button>
                                        {% if i not in approved_applicants %}
                                        <button id="approve-btn" class="btn btn-button btn-success" value="{{i.applicant.id}}">Approve</button>
                                        {% else %}
                                        <button class="btn btn-button btn-success" value="{{i.applicant.id}}" disabled>APPROVED</button>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <div id="form{{ i.id }}" class="form-row collapse">
                                            <div>
                                            </div>
                                            <div class="card col-md-6 my-3">
                                                <div class="container my-3">
                                                    <h3 class="text-bold">Transaction Details</h3>
                                                    {% for j in all_application_transactions%}
                                                    {% if i.applicant.id == j.associated_user.id %}
                                                    <div class="">
                                                        <div class=" ">
                                                            <div class="">
                                                                <div class="">
    
                                                                    <h4 class="text-bold">The documents</h4>
    
                                                                    {% if j.receipt_image %}
    
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <img src="/media/{{j.receipt_image }}"
                                                                                    alt="Image" class="img-fluid">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% else %}
                                                                    No receipt is available for this transaction
                                                                    {% endif %}
    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
                                            <div class="col-md-6 my-3">
                                                <div class="card rowss">
                                                    <h3 class="mx-3 my-3 text-bold">Confirm Transaction</h3>
                    
                                                    <div class="mx-3">
                                                        <div class=" my-3">
                                                            <div class="">
                    
                                                                <form id="exam-type-form" method="POST"
                                                                    action="">
                                                                    <div class="mx-3">
                                                                        <div class="form-group">
                                                                            <div class="form-group">
            
            
                                                                                <div class="form-group">
                                                                                    <label>Transaction Code</label>
                                                                                    <input type="text" class="form-control" name="desc" placeholder="Description" id="description" value="{{ j.transaction_code }}">
                                                                                </div>
                                                                            
                                                                                <div class="form-group">
                                                                                    <label>Time</label>
                                                                                    <input type="text" class="form-control" name="desc" placeholder="Description" id="description" value="{{ j.time }}" readonly>
                                                                                </div>
            
                                                                                <div class="form-group">
                                                                                    <label>Associated User</label>
                                                                                    <select name="head" class="form-control">
                                                                                        <option value="{{ j.associated_user.id }}" selected>{{ j.associated_user }}</option>
                                                                                
                                                                                    </select>
                                                                                </div>
            
                                                                                <div class="form-group">
                                                                                    <label>Transaction Type</label>
                                                                                    <select name="head" class="form-control">
                                                                                        <option value="{{ j.transaction_type.id }}" selected>{{ j.transaction_type.name }}</option>
                                                                                        
                                                                                    </select>
                                                                                </div>
            
                                                                                <div class="form-group">
                                                                                    <label>Form of Payment</label>
                                                                                    <input type="text" class="form-control" name="desc" placeholder="Description" id="description" value="{{ j.form_of_payment }}" readonly>
                                                                                </div>
            
                                                                                <div class="form-group">
                                                                                    <label>Ammount</label>
                                                                                    <input type="text" class="form-control" name="desc" placeholder="Description" id="description" value="{{ j.ammount_paid }}" readonly>
                                                                                </div>
            
                                                                                <div class="form-group">
                                                                                    <label>Comments</label>
                                                                                    <input type="text" class="form-control" name="desc" placeholder="Description" id="description" value="{{ j.comments }}" readonly>
                                                                                </div>
            
            
            
                                                                            </div>
                                                                            {% if not j.confirmed %}
                                                                            <a class="btn btn-success" href="http://">Approve Transaction</a>
                                                                            {% else %}
            
                                                                            <button type="button" class="btn btn-warning" disabled>Transaction Approved</button>
            
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                    
                                                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                                                </form>
                
                                                            </div>
                                                        </div>
                    
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}
{% block custom_js %}

{% comment %} Checking if student already exists or not usin Ajax {% endcomment %}

<script>

    $(document).ready(function () {
        $('.card').removeClass('collapsed');

        $('[data-card-widget="my-custom-collapse"]').on('click', function () {
            // Toggle the card body collapse state
            $(this).closest('.card').find('.card-body').toggleClass('collapsed');
            // Toggle the button icon
            $(this).find('i').toggleClass('fas fa-minus fas fa-minus');
        });

    });

    $(document).ready(function () {
        $('.btn').click(function () {
            $(this).siblings('.form-row').toggle();
        });
    });

    $(function () {
        $('#approve-btn').click(function () {
          event.preventDefault();

          console.log('I have been clicked')
    
            // Retrieve the selected class ID from the input field
          const selectedId = document.getElementById('approve-btn').value;

          console.log('hello0ooo '+selectedId)
    
          $.ajax({
            type: 'POST',
            url: '{% url "finance:approve" %}',
            data: {
              'selected_id': selectedId,
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response) {
                //$('#register-table').html(response.table_html);
                //$('#class-search').val('');
                //$('#table table-striped tbody').html(response.tbody_html);
                $('#register-message').html('<div class="alert alert-success" role="alert">Registration successful!</div>');
                location.reload(); 
                //$("#test").load(window.location + " #test");

            },
            error: function(xhr, status, error) {
                $('#register-message').html('<div class="alert alert-danger" role="alert">Registration failed. Please try again ' +error+ '.</div>');
            }
          });
        });
      });

</script>

{% endblock custom_js %}
